[2014-05-09 11:13] rakyll opened #1 "The canonical import path should be google.golang.org/cloud"

[2014-05-30 10:48] rakyll opened #2 "datastore: Support querying multiple kinds"

[2014-05-30 10:50] #1 closed, assigned to rakyll

[2014-06-28 13:22] rakyll opened #3 "Move proto files and generated code to internal"

[2014-06-30 06:25] #3 closed, assigned to rakyll

[2014-07-08 06:11] rakyll opened #4 "Add travis CI build"

[2014-07-29 18:09] beriberikix opened #5 "storage: bucket management"
Details at [/storage/docs/concepts-techniques](https://developers.google.com/storage/docs/concepts-techniques).

[2014-07-29 18:11] beriberikix opened #6 "storage: idiomatic file abstraction"
Handling files the Go way.

[2014-07-29 18:13] beriberikix opened #7 "storage: file upload"

[2014-07-29 18:13] beriberikix opened #8 "storage: file download"

[2014-07-29 18:15] beriberikix opened #9 "storage: object management"

[2014-07-29 18:18] beriberikix opened #10 "storage: signed url generation"
Details at [storage/docs/accesscontrol#Signed-URLs](https://developers.google.com/storage/docs/accesscontrol#Signed-URLs).

[2014-07-29 18:20] beriberikix opened #11 "storage: ACL management"
Details at [/storage/docs/accesscontrol](https://developers.google.com/storage/docs/accesscontrol).

[2014-07-29 18:44] beriberikix opened #12 "core: design"
Document the design of the Go gcloud library

[2014-07-29 18:44] beriberikix opened #13 "core: service account auth"
Implement authorization using the [Service Account flow](https://developers.google.com/accounts/docs/OAuth2ServiceAccount).

[2014-07-29 18:44] beriberikix opened #14 "core: unit testing strategy"
Document the design and execution plan for unit testing.

[2014-07-29 18:44] beriberikix opened #15 "core: functional testing strategy"
Document the design and execution plan for functional testing.

[2014-07-29 18:45] beriberikix opened #16 "core: make gcloud-golang repo public"
Anyone should be able to read this message once this is public.

[2014-07-29 18:45] #16 closed, assigned to beriberikix

[2014-07-29 18:45] beriberikix opened #17 "core: public continuous integration"
Implement continuous integration service anyone can run.

[2014-07-29 18:46] beriberikix opened #18 "datastore: transactions"
Details at [/datastore/docs/concepts/transactions](https://developers.google.com/datastore/docs/concepts/transactions)

[2014-07-29 18:46] beriberikix opened #19 "datastore: key management"
Details at [/datastore/docs/concepts/entities](https://developers.google.com/datastore/docs/concepts/entities).

[2014-07-29 18:47] beriberikix opened #20 "datastore: querying"
Details at [/datastore/docs/concepts/queries](https://developers.google.com/datastore/docs/concepts/queries).

[2014-07-29 18:47] beriberikix opened #21 "datastore: protobuf backend"
Add support for the highly-performant [Protobuf protocol](https://code.google.com/p/protobuf/).

[2014-07-29 18:47] beriberikix opened #22 "datastore: entity management"
Implement entity management

[2014-08-05 12:34] jgeewax opened #24 "Update README.md with some example code"
Some key things to do...
- [ ] Show how to "go get" the package
- [ ] Show how to import the package
- [ ] Show how to authenticate
- [ ] Show how to create a connection to GCS

[2014-08-05 17:10] pcostell opened #25 "datastore: default to empty dataset"
When working with datasets, the Datastore backend will normalize any empty datasets to the dataset of the calling application. This should be preferred to prepending "s~" to dataset ids as that is not always a valid operation.

[2014-08-05 17:13] pcostell opened #26 "datastore: supporting multiple types of composite filters"
Right now Datastore doesn't natively support OR filters, however it is a feature we'd like to support. When switching from GAE Datastore to Cloud Datastore filters were explicitly changed from being represented as a list to a more hierarchical model to support this. There should be a plan in place for how to expose this, since now filters are assumed to be AND'ed together.

[2014-09-03 18:56] #21 closed, assigned to yoshi-automation

[2014-09-03 18:57] #4 closed, assigned to rakyll

[2014-09-03 18:58] #14 closed, assigned to rakyll

[2014-09-03 18:58] #19 closed, assigned to yoshi-automation

[2014-09-03 18:58] #18 closed, assigned to yoshi-automation

[2014-09-03 19:00] #25 closed, assigned to rakyll

[2014-09-19 20:32] rakyll opened #34 "common: Append gcloud user agent to all requests"

[2014-09-20 22:47] #11 closed, assigned to yoshi-automation

[2014-09-20 22:47] #9 closed, assigned to yoshi-automation

[2014-09-20 22:47] #8 closed, assigned to yoshi-automation

[2014-09-20 22:47] #7 closed, assigned to yoshi-automation

[2014-09-20 22:47] #6 closed, assigned to yoshi-automation

[2014-09-29 01:56] #13 closed, assigned to yoshi-automation

[2014-09-29 01:56] #12 closed, assigned to yoshi-automation

[2014-09-29 01:56] #34 closed, assigned to rakyll

[2014-10-01 19:24] rakyll opened #44 "storage: Initiate storage client with a project ID"
Bucket creation requires a project ID, we should initiate storage.Client objects with a project ID.

[2014-10-02 08:57] luna-duclos opened #45 "datastore: Current state ?"
What is the current state of the datastore package in the experimental branch ?

I'm looking to write a program using datastore on compute engine and need such a package, and I'd like to help out however possible.
Is the current state of the experimental package what I should base myself on ? It hasn't been updated in a while now.

[2014-10-07 13:18] #45 closed, assigned to luna-duclos

[2014-10-07 17:56] PSG-Luna opened #46 "datastore: meaning + GeoPoint"
In the v3 proto file used by appengine, a lot of use is made of the "meaning" field to keep track whether something is a geopoint, byte array, time, etc.
In the v1 public API, the meaning field is specificly marked as "do not use", and additional Value fields have been added, it mostly maps over nicely, however, GeoPoint seems to be gone and I'm somewhat at loss as to how geopoint should be implem

[2014-10-07 19:05] luna-duclos opened #47 "datastore: XG transactions"
The v3 appengine client sets the allow_multiple_eg flag to true when a transaction is set as XG. I can't find a similar field in the v1 public proto, how does this work in v1 ?

[2014-10-07 20:15] luna-duclos opened #48 "datastore: ancestor queries"
How should a proto for an ancestor query look ? It seems to me that ancestor queries are now done with a Filter, but I don't understand what the "property" field should be set to when using the HAS_ANCESTOR operator.

[2014-10-07 20:43] luna-duclos opened #49 "datastore: queries and keys_only, require_perfect_plan, strong"
Those 3 boolean flags are not available anymore with no obvious replacement, what to do with them ? Are they passed some other way ? Specificly keys_only is something I still want to support but can't find an obvious way to do it.

[2014-10-08 05:34] #49 closed, assigned to luna-duclos

[2014-10-08 10:04] luna-duclos opened #51 "datastore: NextQuery in v1?"
The v1 proto does not have a "Next" call accepting a NextQuery proto. I assume this means next queries are instead mapped to a query with a StartCursor set to the end cursor received in the previous RunQueryResult ?

[2014-10-08 16:26] luna-duclos opened #52 "datastore: Saving/loading slices"
I'm currently going through the testsuite converted from appengine.
One of the tests still failing is the ones involving saving/loading slices.

How should slices be loaded/saved ?
The two options seem to be either by having the same property mentioned multiple times, like this:

[code]

The other would be to use the list_value repeated field and only have the F property mentioned once, but contai

[2014-10-08 18:59] #52 closed, assigned to luna-duclos

[2014-10-08 18:59] #51 closed, assigned to luna-duclos

[2014-10-08 21:57] luna-duclos opened #53 "datastore: indexValues"
The v3 API has a concept of "indexValues" which are opaque values because they don't have a valid "meaning" in the go world, they were used when things were loaded directly from an index due to a projection being set that way.
Am I correct in assuming this has been nuked and those now behave just like anything else and have a correct Value proto filled up for them ?

[2014-10-10 13:48] #53 closed, assigned to luna-duclos

[2014-10-10 13:49] #48 closed, assigned to luna-duclos

[2014-10-10 14:14] luna-duclos opened #54 "NOT_FINISHED vs MORE_RESULTS_AFTER_LIMIT"
I'd like confirmation on the behaviour of pagination with regards to the two MoreResultTypes listed in the title.
If I understand it correctly, pagination is only available when the result type is NOT_FINISHED, is this correct ?

[2014-10-15 21:28] tmatsuo opened #58 "testing library"
Do you have a plan for providing a library for testing which allows you to easily write unit tests of your application?

[2014-10-17 21:36] #58 closed, assigned to tmatsuo

[2014-10-18 23:47] rakyll opened #61 "storage: Allow users to Put and Write with predefined ACL rules"

[2014-10-20 17:47] #44 closed, assigned to rakyll

[2014-10-22 16:53] rakyll opened #63 "storage: Handle HTTP status codes during Reader initialization"
Convert the status codes to an error in a similar way the raw generated client library is doing. NewReader silently fails for non-404 and non-2xx cases.

[2014-10-22 23:09] rakyll opened #65 "storage: Silently fails during API outage"
ObjectWriter is silently failing during API outages, we should return an error if there is no object metadata can be retrieved.

[code]

[2014-10-23 17:13] #63 closed, assigned to rakyll

[2014-10-25 06:14] rakyll opened #66 "pubsub: Allow messages to have nil Data fields"
Related discussion is on https://github.com/GoogleCloudPlatform/gcloud-golang/pull/57.

[2014-10-27 01:13] #66 closed, assigned to rakyll

[2014-10-27 01:15] #65 closed, assigned to rakyll

[2014-10-28 03:41] rakyll opened #67 "pubsub: Return a custom error if pull timeout occurs"

[2014-10-29 23:24] rakyll opened #68 "Travis build should set appenginevm tag"

[2014-10-31 19:47] gmlewis opened #69 "gmlewis: In examples/storage, don't call DefaultBucketName in handler - bad practice."
TODO(gmlewis): Calling file.DefaultBucketName in handler for each request is a silly thing to do... it should be called once in an init() function.
We shouldn't show an example to developers that promotes a bad practice.

[2014-11-10 05:17] rakyll opened #72 "datastore: Prefix datastore values with datastore"
Datastore uses many generic keys such as base_url, transaction, etc. https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/datastore.go#L96

Either prefix these keys, or datastore should define its own key type.

[2014-11-10 05:25] rakyll opened #73 "datastore: Support eventual consistency"
We export a method to flag a query to run in eventual consistency but, our lookup request proto is not setting the right reading option.

https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/query.go#L133
https://cloud.google.com/datastore/docs/apis/v1beta2/datasets/lookup

[2014-11-10 05:31] rakyll opened #74 "datastore: Add integration tests"

[2014-11-10 05:31] #68 closed, assigned to rakyll

[2014-11-10 05:39] rakyll opened #75 "datastore: Support entity_value to Go object, list_value to Go slice conversion"
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/load.go#L253

[2014-11-10 05:42] #72 closed, assigned to rakyll

[2014-11-10 05:49] rakyll opened #76 "datastore: Handle deferred entities"
We shouldn't return an error if there are deferred entities on the results, we should return a known error for the corresponding keys.

See https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/datastore.go#L343

[2014-11-10 22:08] #69 closed, assigned to gmlewis

[2014-11-13 08:09] PSG-Luna opened #77 "compute API ?"
Is a compute API something that would potentially be interesting ?
I'm not a fan of using the auto-generated APIs so a nicely handmade compute API is something I'd be interested in contributing.

[2014-11-14 00:36] rakyll opened #78 "storage: Implement a ResumableObjectWriter"
Storage package should support resumable uploads due to the urlfetch body size limitation. App Engine users should be depending on the resumable uploads if the file size is larger than 10MB.

See https://cloud.google.com/storage/docs/json_api/v1/how-tos/upload?&_ga=1.73911639.470265211.1407285034#resumable for details.

cc/ @gmlewis

[2014-11-15 23:04] rakyll opened #79 "datastore: Package doesn't have a top level package comment"

[2014-11-21 02:20] #79 closed, assigned to rakyll

[2014-11-22 09:46] rakyll opened #81 "datastore: Move cloud.WithNamespace to the datastore package"
https://code-review.googlesource.com/#/c/1320/

[2014-11-24 04:47] rakyll opened #82 "storage: Read bucket name from the context"

[2014-11-24 21:57] #82 closed, assigned to rakyll

[2014-11-25 23:47] #10 closed, assigned to rakyll

[2014-11-26 00:08] #47 closed, assigned to rakyll

[2014-11-26 00:09] #54 closed, assigned to rakyll

[2014-11-26 00:10] #24 closed, assigned to rakyll

[2014-11-26 00:11] #2 closed, assigned to rakyll

[2014-11-26 00:11] #20 closed, assigned to rakyll

[2014-11-26 00:12] #22 closed, assigned to rakyll

[2014-11-26 00:12] #15 closed, assigned to yoshi-automation

[2014-12-02 00:07] #81 closed, assigned to rakyll

[2014-12-08 23:10] #74 closed, assigned to rakyll

[2014-12-10 04:26] bradfitz opened #86 "storage: PutObject API"
Why does PutObject take a bucket and name string, when it's already in the info Object?

[code]

And why does it return an Object? Is that the same Object I passed in?

The docs don't say whether it returns a different pointer, or updates the value in-place via the pointer. It says "updates".

[2014-12-10 04:30] bradfitz opened #87 "storage: When can you call ObjectWriter.Object?"
I object to the ObjectWriter.Object method, or at least its documentation.

It says:

"Object returns the object information. It will block until the write operation is complete."

I understand how an io.WriteCloser works (Write, Write, Write, Close), but I don't know when I'm supposed to call the Object method. Is it supposed to be only once after the call to Close?

But the Object method include

[2014-12-10 04:53] bradfitz opened #88 "storage: Object needs to be split into three types"
https://godoc.org/google.golang.org/cloud/storage#Object is trying to do too much.

It's trying to be the Object key (just the bucket & key), the ObjectInfo (to make up a name) returned by the server, and also the mutable fields (like ContentType and Metadata) used by PutObject and the object writer.

This is the same problem as the oauth2.Options type that held everything under the sun. They need

[2014-12-10 04:54] bradfitz opened #89 "storage: rename ObjectWriter to Writer"
NewWriter returns an ObjectWriter. It should just be called *storage.Writer.  There's nothing else we'll be writing.

[2014-12-15 21:50] #87 closed, assigned to rakyll

[2014-12-15 21:51] #89 closed, assigned to rakyll

[2014-12-16 05:13] sathyanarayanant opened #90 "Bug in documentataion: Cloud datastore - Scope datastore.ScopeUserEmail"
The example authorization code given [here](https://godoc.org/google.golang.org/cloud/datastore) should be updated to include scope datastore.ScopeUserEmail.

opts, err := oauth2.New(
google.ServiceAccountJSONKey("/path/to/json/keyfile.json"),
oauth2.Scope(datastore.ScopeDatastore, **datastore.ScopeUserEmail**),
)

[2014-12-22 20:25] tylertreat opened #91 "pubsub: "Invalid value for ByteString" when publishing"
Cloud Pub/Sub returns a 400 error when publishing some messages from the gcloud-golang client. The following error message is returned:

`Invalid value for ByteString`

The problem can be reproduced with the following code:

[code]

This can be attributed to a base64-encoding problem. The client currently uses `base64.StdEncoding`, but it appears it should be using `base64.URLEncoding`. This fixes

[2014-12-23 18:50] #90 closed, assigned to rakyll

[2014-12-27 17:43] karalabe opened #92 "Nil panic when storage object owner is omited"
Google cloud storage sometimes omits the ownership infos (i.e. `owner` field) when listing the contents of a bucket (at least that's where I've noticed it). This leads to the `Owner` in `raw.Object` being nil, and hence crashing at [this point](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/storage/types.go#L211).

I've set up a trivial bucket/object to showcase this issue. If yo

[2014-12-29 09:32] #92 closed, assigned to karalabe

[2014-12-30 04:52] #91 closed, assigned to rakyll

[2014-12-30 20:07] DallanQ opened #93 "Project objective and state?"
I just came across this project. I've been using the auto-generated google-api-go-client up until now. What is the objective for this project: Is it intended as an alternative to google-api-go-client when you only need access to datastore, cloud storage, pub/sub, and container engine? Is it ready for production use for datastore and cloud storage?

[2014-12-31 00:41] DallanQ opened #94 "Change imports of code.google.com/p/goprotobuf/proto to github.com/golang/protobuf/proto ?"
The page at https://code.google.com/p/goprotobuf/ says that the project has been moved to github: https://github.com/golang/protobuf They modified the package name during the move from goprotobuf to just protobuf.  Looks like it moved about a month ago.

[2014-12-31 00:56] DallanQ opened #95 "Reference JWTConfigFromJSON example in the README?"
You might want to consider pointing people directly to the JWTConfigFromJSON example in the oauth2 docs: https://godoc.org/golang.org/x/oauth2/google#example-JWTConfigFromJSON

Currently the README just points people to the root of the oauth2 docs, and it's difficult to realize that the procedure you want to follow if you are using a service account is the one outlined in the JWTConfigFromJSON exa

[2015-01-02 20:56] rakyll commented on #94
Done. 63f232638e7ed454705e23d5ddbfec493b0b407f

[2015-01-02 20:56] #94 closed

[2015-01-02 20:59] rakyll commented on #93
Correct.

It's still a work-in-progress package, we will announce it once it's stable. We're breaking the APIs now and then. If you are not vendoring the package, we may occasionally break you.

[2015-01-02 20:59] #93 closed

[2015-01-05 20:10] DallanQ opened #96 "Getting this to work in a managed VM"
In case anyone else is trying to get this to work in a manged VM environment, here's what I did:

Step 1. get the library

`go get google.golang.org/cloud`
// init functions in examples set up their own http handlers, which we don't want
`rm -rf google.golang.org/cloud/examples`
`rm -rf google.golang.org/api/examples`
// KeepAlive was introduced in go 1.3; managed-vm is still on go 1.2.2
comment o

[2015-01-05 22:05] rakyll commented on #96
@okdave, when could we land go1.4 to the Managed VMs?

[2015-01-06 19:39] ivanpi-mtv opened #97 "datastore: Get (and GetMulti) return a nil error instead of ErrNoSuchEntity"
When a Get call is issued for an entity that doesn't exist, it returns a nil error, even though the documentation states it should return ErrNoSuchEntity.

The underlying problem seems to be in the last for...range in GetMulti. It examines only the Found field in LookupResponse, but the keys with no matching entities are in Missing instead.
It also doesn't use the key-to-index mapping (already set

[2015-01-07 00:49] rakyll commented on #97
Mailed https://code-review.googlesource.com/#/c/1682/.

[2015-01-07 00:50] rakyll commented on #76
Duplicate of https://github.com/GoogleCloudPlatform/gcloud-golang/issues/97.

[2015-01-07 00:50] #76 closed

[2015-01-07 00:52] rakyll commented on #96
The package should be working on Managed VMs now. https://code-review.googlesource.com/#/c/1670/

[2015-01-07 00:52] #96 closed

[2015-01-07 00:52] #88 closed

[2015-01-07 00:53] rakyll commented on #86
Fixed in https://code-review.googlesource.com/#/c/1630/.

[2015-01-07 00:53] #86 closed

[2015-01-07 00:54] rakyll commented on #75
https://code-review.googlesource.com/#/c/1380/

[2015-01-07 00:54] rakyll commented on #17
Obsolete, done a while ago.

[2015-01-07 00:54] #17 closed

[2015-01-07 02:01] DallanQ commented on #96
Thank you!

[2015-01-07 08:03] cnbuff410 opened #98 "Is "ClientID" the best name for signedUrlOptions?"
In the code, it says

"ClientID represents the authorizer of the signed URL generation. It is the Google service account client ID from the Google Developers Console."

However, the ID developer is expected to use is actually "EMAIL ADDRESS" in Google Developers Console, not "CLIENT ID". Isn't it confusing?

[2015-01-07 12:42] karalabe opened #99 "Maybe add another context creator?"
Currently the way to create a cloud context is through `cloud.NewContext(id, client)`, but creating the client is quite repetitive and not really obvious from a first sight:

On an App Engine application (through a GAE context):
[code]

On a standalone application (through service accounts):
[code]

Wouldn't it be worthwhile to insert this client creation code into the NewContext, and instead use

[2015-01-07 17:39] karalabe opened #100 "datastore: transaction succeeds, but client returns an error"
I've tried to execute a very simple transaction that just creates a database entry if the key doesn't exist yet.

However, even though my operations complete successfully, and the transaction itself is committed too (at least it appears in the datastore), the client API returns a `error during call, http status code: 400 The referenced transaction has expired or is no longer valid.` error.

Am I d

[2015-01-07 18:06] karalabe commented on #100
Ok, it seems the error is in datastore.Put, which actually commits the transaction itself. Why would it do that?

[2015-01-07 18:44] karalabe commented on #100
[Oh ffs, just deleted by comment instead of an undo].

So, in essence, the bug is that both `Put` as well as `RunInTransaction` commits before returning, resulting in a double commit and a completely meaningless result from `RunInTransaction`. I guess a simple solution would be to add some state variable into the context to verify if it was already committed and skip it in `RunInTransaction`.

I c

[2015-01-07 22:00] rakyll commented on #98
Mailed https://code-review.googlesource.com/#/c/1712/.

It's not particularly the service account email address, but email addresses are one of the valid identifiers -- but definitely client IDs are invalid as an input.

The new field name is a little ambiguous, but the documentation says a service account email address will work.

[2015-01-08 09:09] karalabe opened #101 "cloud: broken example tests due to a parametrization issue"
All example tests and some other files fail test compilation due to a bad function call.

Fix at: https://code-review.googlesource.com/#/c/1720

[2015-01-08 09:19] karalabe commented on #100
Fix proposal at https://code-review.googlesource.com/#/c/1721/ :)

[2015-01-08 09:39] karalabe commented on #101
Out of date dependency used, abandoning.

[2015-01-08 09:39] #101 closed

[2015-01-08 10:11] karalabe opened #102 "storage: empty object creation panics"
The current object writer implementation through `NewWriter` only opens the writer when an actual `Write` is invoked. However, if I only want to create an empty file (i.e. simulate a folder on GCS), `Close` will panic as the writer was never really opened before trying to close it:

[code]

I think if you really want to do lazy opens, `Close` should check whether the pipe was actually opened previ

[2015-01-08 10:18] karalabe commented on #102
Fix: https://code-review.googlesource.com/#/c/1722

[2015-01-08 13:36] karalabe commented on #102
PS: A further fix was included for a bug that restarted the media transfer at every single write call.

[2015-01-09 00:05] rakyll opened #103 "datastore: build is broken on Travis"
I'm not able to reproduce it locally, but the tests are failing on Travis.

https://travis-ci.org/GoogleCloudPlatform/gcloud-golang/jobs/46385498

[2015-01-09 00:05] #102 closed

[2015-01-09 00:06] #97 closed

[2015-01-09 00:06] rakyll commented on #97
I'm not reopening #76, we're not sure whether it's worth to address it.

[2015-01-09 00:08] #98 closed

[2015-01-09 00:36] DallanQ opened #104 "Can't run queries outside of the default namespace?"
I'm trying to run a query outside the default namespace:

    testingCtx := datastore.WithNamespace(ctx, "test")
    key := datastore.NewKey(testingCtx, kind, "", id, nil)
    keys, err := NewQuery(kind).Ancestor(key).KeysOnly().GetAll(testingCtx, nil)

and getting an error:

    error during call, http status code: 400 The query namespace is &#39;null&#39; but ancestor namespace is &#39;test&#39;

[2015-01-09 10:03] karalabe commented on #103
And the fix https://code-review.googlesource.com/#/c/1760/ ;)

Though I'm treading unfamiliar grounds, so you should definitely check it closely :)

[2015-01-11 12:03] karalabe opened #105 "compute/metadata: build is broken on GAE go1.4beta"
Please see:

 - https://groups.google.com/forum/#!topic/google-appengine-go/WeO8KGx6O8c
 - https://code-review.googlesource.com/#/c/1670/3 (my comment)

[2015-01-15 19:23] DallanQ commented on #104
Any update on this? Would it help if I submitted a pull request? It seems that on lines 401 and 540 of query.go, we need to add something along the lines of:

    req.PartitionId = &PartitionId{
        Namespace: ctxNamespace(ctx),
        DatasetId: // leave this nil?
    }

Would that be the correct fix?

[2015-01-18 23:14] ItsLeeOwen commented on #104
+1  There definitely seems to be an issue with passing a namespaced context to GetAll.  The namespaced context is ignored, and if you have entities of the same kind in both a namespaced context, and default context, passing the namespaced context to GetAll will continue to return entities of the default context.

[2015-01-23 10:19] karalabe opened #106 "datastore: document metadata operations"
There are quite a lot of metadata operations doable (kind, stat, etc retrieval), which is possible currently too, but only if you know the internal data types and related entity kinds.

E.g.

[code]

It would be nice to collect all these metadata types, queries, operations, and have them under a more pleasant API :)

[2015-02-04 15:28] karalabe opened #107 "storage: add support for cache control"
Currently as far as I'm aware, the storage client does not support setting cache control fields, neither during creation, not by modifying object attributes. Since cache control cannot be set globally on a bucket, only individually on objects, this is an essential feature missing.

[2015-02-04 15:31] rakyll commented on #107
Cache control is settable via the object attributes metadata field.

        w := storage.NewWriter(ctx, bucket, object)
        w.Metadata = map[string]string{
                "Cache-Control": "private, max-age=0, no-transform",
        }

[2015-02-04 15:31] #107 closed

[2015-02-04 15:33] karalabe commented on #107
Ah, so that's where it's hidden. Thanks for the pointer.

[2015-02-04 17:15] karalabe commented on #107
Doesn't work :P GCS sets the metadata into a nested set of headers, and doesn't use it directly as teh response header (essentially getting it ignored).

I.e. using the above code (slightly modified) returns an object with these headers (I'm playing with the expiration now):

[code]

[2015-02-04 17:34] karalabe commented on #107
Mailed https://code-review.googlesource.com/#/c/1900/

[2015-02-05 05:57] rakyll commented on #107
Snap, I was able to use the metadata fields for the same purpose, seems to be broken now.

[2015-02-05 13:49] karalabe opened #108 "storage: read -> connection reset by peer"
'smee again :D :P

I'm probably missing something, but I've hit this snag and thought I'd ask if it's something occasional, or if it's by design, and I missed the docs for it.

I was slowly streaming a download from GCS to GCE, processing some data and pushing stuff back up to GCS. After about 10-15 minutes, my reader crashed with `read tcp 64.233.182.132:443: connection reset by peer`. I haven't

[2015-02-05 17:45] josephbergevin opened #109 "SignedURL using pem for PrivateKey not successful"
package: `storage`

I experimented with using a `pem` file and a `rsa` file to produce my private key. `rsa` worked, `pem` did not.
Both compiled and gave no errors to be logged. The error came when trying to access the URL with a key generated from the `pem` version of the `p12` key.

[code]

[2015-02-05 18:21] gmlewis commented on #109
That's odd... PEM files have worked fine for me.

[2015-02-05 18:37] josephbergevin commented on #109
Strange. Yeah, I tried loading the pem from a file and from a string and had no luck. Then I perused the test code in storage_test.go and saw that a rsa file was being used as well for the key. When I converted the p12 to rsa and used that instead, it worked.
I think this issue could be resolved simply by adding to the instructions on the `PrivateKey` field. Maybe give additional instructions for

[2015-02-09 05:18] jgraettinger opened #110 "storage: Writer support for server-side MD5 / CRC32C validation"
Currently a user can't specify hashes to be validated on upload. If I understand things properly, ObjectAttrs ought to have optional user-settable MD5 & CRC32C fields which are passed through in ObjectAttrs.toRawObject().

See also: relevant [storage API page](https://cloud.google.com/storage/docs/hashes-etags#_JSONAPI)

[2015-02-09 19:51] PerryBirch commented on #106
+1 Meta queries would be very helpful in the native libs.  (Thanks for the struct def btw, exactly what I needed)

[2015-02-11 02:42] jacobsa opened #111 "storage: Names can be silently transformed when creating an object"
`storage.NewWriter` accepts object names as Go `string`s, which are sequences of arbitrary bytes. It then (transitively) forwards them on to a JSON marshaller, which can represent only sequences of Unicode codepoints (cf. ECMA 404). The documentation for `json.Marshal` says this:

The net result of this is that if I provide an object name like `b\xff` (a legal Go `string`) to `storage.NewWriter`,

[2015-02-16 04:46] jacobsa opened #113 "storage: API should use structs or interfaces rather than free functions"
The storage package is currently a grab bag of free functions:

 *  ACL
 *  BucketACL
 *  ListObjects
 *  (etc.)

(Side note: some of these are poorly named. I can't tell from its name what `ACL` does. It really should be called `GetObjectACLs` or similar.)

Because each of these is a free function, if I write code that operates on GCS I can't easily give it a fake GCS implementation for testing.

[2015-02-19 23:06] rakyll commented on #113
In Go, you never prefix getters with Get. It could have been ObjectACL, but it's unnecessary verbose. Godoc explains what the call does well, it's quite obvious from the signature as well.

No, you can provide your stub RoundTripper to the context to handle fake the responses. We should provide some testing utilities to make it easier/visible. The question is whether it's convenient to depend on n

[2015-02-20 00:38] adg commented on #113
I don't think @jacobsa is suggesting removing the `context.Context` arguments from the calls; they're necessary in a lot of contexts. Just that providing the authentication via the context argument is wrong.

Take a look at the package he put together: http://godoc.org/github.com/jacobsa/gcloud/gcs

@jacobsa can you point me toward a usage of your API? I'm curious how it looks in practice, particu

[2015-02-20 02:48] okdave commented on #113
Also, I don't think a concrete type like `cloud.Context` would be a great solution here. Introducing our own context type would mean it wouldn't play well with standard context mechanisms, like timeouts.

I think if we took the "context"-ness out of `cloud.Context`, then we'd be left with something more akin to a Client. What @jacobsa is calling a `gcs.Conn`.

[2015-02-20 03:47] rakyll commented on #113
I do not think it's entirely wrong. If you authenticate with a service account, it's just awkward. Because the authentication is actually free from the request context. But from a user access token point of view, it makes sense to keep the auth bits in a value context. You may say putting an HTTP client in a value context is a bit extravagant, I'd agree with that.

There is actually nothing contex

[2015-02-20 03:57] dsymonds commented on #113
We should be aiming to get rid of `cloud.Context` and only use the standard `net.Context`. Anything that's special to an API should be attached to that as a context value, or passed as an explicit function argument, or be used to configure a Client type.

A context argument gives timeout/deadline control (on a per operation basis), and also tracing (e.g. dapper). An HTTP request is definitely abor

[2015-02-20 10:29] karalabe commented on #108
The problem still persists, and with non-slow downloads too. I'm using a simple reader to stream download a file from GCS into GCE at about 2-3 MB/s, and GCS still manages to interrupt the download after some time (last time it was a bit more than 2 hours in (yes, it's a huge file :P).

[2015-02-20 10:46] jacobsa commented on #113
@rakyll: You're right that you can fake RoundTripper, but that is extremely difficult compared to a fake for a service-specific interface -- it requires you to implement much more of the GCS stack than what the interface actually cares about (a map from keys to values).

I do think a plain old "golang.org/x/net/context"-type context should continue to be there, for essentially the reasons dsymonds

[2015-02-20 10:50] jacobsa commented on #113
By the way, if it got lost in the noise: there is a fake that faithfully implements the Bucket interface [here](http://godoc.org/github.com/jacobsa/gcloud/gcs/gcsfake). Take a look at the source; it's quite easy to fake this sort of interface. It would be much more difficult to do it at the HTTP layer.

[2015-02-20 16:16] gmlewis commented on #108
I have a theory that the oauth token is expiring during the transfer, but I could be totally wrong.
We are working on a ResumableMedia upload in the google-api-go-client library that will simply retry from where it left off in case something failed during transfer.  I'm hoping that this should solve the problem, but I don't have a date for you as to when this will be ready because there are contin

[2015-02-20 18:45] derekperkins opened #114 "storage: How long should it take to sign a url?"
We're using GCS to serve up a lot of private assets using signed urls. We're seeing each call to `storage.SignedURL` take over 300ms. When we're generating a lot of them (10+ per request), that really slows down our system. Is it that computationally expensive or is there something that we're doing wrong?

I'm assuming that it is CPU bound because splitting it up between goroutines didn't affect t

[2015-02-20 18:58] gmlewis commented on #114
Looking at the source, it calls [rsa.SignPKCS1v15](https://golang.org/src/crypto/rsa/pkcs1v15.go#L194) which appears to be computationally expensive.  I don't see any other obvious bottlenecks. You could probably perform an experiment and run benchmarks on it locally to see if that is indeed the case.

[2015-02-20 21:46] derekperkins commented on #114
Ok, that's what we feared. I'm wondering if Go is just slow in this arena. I've seen some articles online talking about Java doing RSA signing in just a couple ms.

[2015-02-20 22:57] dsymonds commented on #114
Signing a URL should be quick, but it is going to be CPU intensive. If you can find Java doing a substantially faster job in the same environment then we'd definitely have stern words to say to Go.

What environment are you running in? App Engine? Compute Engine? A bit more details would help.

[2015-02-21 00:14] derekperkins commented on #114
It's not a benchmarked comparison and I haven't spent much time working with cryptographic functions, so I'm not 100% that this is apples to apples. I found this article talking about signing session requests in Java with RSA 2048 that originally took 8ms and Square optimized things to make them take 1.7ms.
http://corner.squareup.com/2014/02/faster-rsa-jnagmp.html

I'm running on App Engine, and m

[2015-02-21 00:29] rakyll commented on #114
We also don't need to parse the private key on each call [1]. Do you have a perf breakdown for us to see the impact of the parseKey call?

[1] https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/storage/storage.go#L183

[2015-02-21 01:29] dsymonds commented on #114
Square is not running on App Engine, so them reporting that their signing was taking 8ms is an irrelevant comparison. You get much less CPU time on App Engine than Square's Java code would be getting wherever they are running.

[2015-02-21 01:34] derekperkins commented on #114
I know it isn't an exact comparison, but should it really be 100x faster than the biggest App Engine instance?

[2015-02-21 09:28] karalabe commented on #108
Hey Glenn, actually I opened that discussion too :package:

Note however, that this issue is not about upload, but rather *download*. There shouldn't be any auth issues there, since after the initial read grant, GCS is never queried for further permissions.

This issue could probably be solved by using a resumable download, but I'm reluctant to suggest that since I would expect GCS -> GCE to work

[2015-02-26 21:59] rakyll commented on #113
A bit late, sorry.

@dsymonds, we wrap the generated client that doesn't expose the request objects. We need to provide a custom RoundTripper to capture the ongoing request and cancel it when time has come. I'm not sure how readable it will be, so some experimental work would be very valuable to evaluate this idea.

@jacobsa, we may think of providing some stub RoundTripper generators from a testu

[2015-02-27 01:53] jacobsa commented on #113
It doesn't have to be an interface type; a struct would be almost as good, because then the user can still define their own interface around it.

I disagree with your assessment of the standard library (assuming you mean to imply that a struct is also not a good choice). All over the place it uses structs and interfaces with methods in this sort of situation rather than free functions. The interfa

[2015-03-05 20:38] tmatsuo opened #115 "Migrate Pub/Sub to v1beta2"
Cloud Pub/Sub released a new API version v1beta2.

[2015-03-06 21:41] aaronkavlie-wf opened #116 "Ack() should return more informative error messages"
I made a mistake in testing `pubsub.Ack()` and gave it a slice with a bunch of empty strings.
The error message returned for such mistakes is not informative; I didn't realize the mistake until I showed a Google engineer my code sample.

`log.Fatal(err)` gave me this:

`transport.go:90: googleapi: Error 500: Backend Error, backendError`

I would expect an error message telling me the input is inva

[2015-03-12 02:28] jacobsa opened #117 "NewReader and SignedURL naively construct incorrect and invalid URLs"
In [multiple][1] [places][2] the storage package uses `fmt.Sprintf` to create URLs from arbitrary object names and hopes it will work out.

It doesn't work out. If you call `NewReader` with an object whose name is the string `"foo % bar"`, you get this error:

    parse https://storage.googleapis.com/jacobsa-gcs-integration-test/foo % bar: invalid URL escape "% b"

Similarly if the object is named

[2015-03-12 05:57] gmlewis commented on #117
Aaron, may I have permission to copy your test names into the cloud/storage library tests?
Taken from here: https://github.com/jacobsa/gcloud/blob/df00d97c20927fdeeb7f663172159a1d02f95ffd/gcs/gcstesting/bucket_tests.go

[2015-03-12 06:08] gmlewis commented on #117
https://code-review.googlesource.com/#/c/2070/

[2015-03-12 07:26] jacobsa commented on #117
Absolutely, please feel free to rip off anything you like. Note that the tests are for a different interface, though.

Regarding the code review: I'm not sure `url.QueryEscape` is correct to use here; the names don't go in the query after all. I think constructing a `url.URL` struct with the unescaped path in the `Path` member and then using `url.String()` might be better?

[2015-03-12 16:32] gmlewis commented on #117
What if there is a slash in the name?  It seems like it is allowed by the documentation, but your approach would not distinguish between the slash separators and the slashes in the name(s), if I am reading the code correctly.  In fact, I think I need to add slashes to the test cases.  Do you agree?

[2015-03-12 20:51] jacobsa commented on #117
The `InterestingNames` test [does](https://github.com/jacobsa/gcloud/blob/df00d97c20927fdeeb7f663172159a1d02f95ffd/gcs/gcstesting/bucket_tests.go#L345-L346) cover slashes. That said, I've not yet been able to make it pass because in addition to this bug in the Go package, there appears to be a related bug on the GCS end. Looking into it now.

In any case, I don't think a slash in the path is ambig

[2015-03-12 21:42] gmlewis commented on #117
Aaron - you are right.  I commented in the code review.  Thanks.

[2015-03-13 02:06] Karthic-Hackintosh opened #118 "Unable to create write data into bucket , not an app engine context"
Initially when tried running the storage app-engine example code i ran into this following issue which is being discussed in this stackoverflow thread http://stackoverflow.com/questions/29010718/google-cloud-storage-client-app-error-using-go-runtime-google-app-engine .
The discussion enabled me to fix the issue with sample code  and get it compiled https://github.com/GoogleCloudPlatform/gcloud-gol

[2015-03-13 05:23] gmlewis commented on #118
You've got some extra lines in there...  The following works for me:

[code]

[2015-03-13 05:53] Karthic-Hackintosh commented on #118
I had used the same piece of code before , i tried this again , it fails to compile with the following  error
**cannot use c (type "appengine".Context) as type context.Context in function argument:
	"appengine".Context does not implement context.Context (missing Deadline method)**

[2015-03-13 06:08] gmlewis commented on #118
Can you try updating your code with:
`go get -u google.golang.org/appengine`

[2015-03-13 06:23] Karthic-Hackintosh commented on #118
yes , i updated it , and the issue still persists

[2015-03-13 07:29] gmlewis commented on #118
Can you please email me the full output of "gcloud --verbosity debug preview app run ." ?  I would like to see the full error message.  Thanks!

[2015-03-13 07:44] Karthic-Hackintosh commented on #118
yes , can i have your email address ? Thank You !

[2015-03-13 07:55] gmlewis commented on #118
Yes, it is gmlewis at google dot com... I sent you an email to your yahoo address on your profile page.

[2015-03-13 15:17] karalabe commented on #118
Just a random thought, is your Go version up to date? I remember seeing this error a while back and teh issue was that the Deadline was added in a later release of Go and appengine used an older one. (However, as far as I know appengine updated to 1.4, so that shouldn't be an issue). However it could be worthwhile to check.

[2015-03-13 16:29] rakyll commented on #118
This is an oauth2 package bug, see https://github.com/golang/oauth2/issues/98.

[2015-03-13 22:00] PSG-Luna opened #119 "Logging API ?"
Is a logging API using the new cloud logging functionality currently in alpha something that'd be interesting for this package ? It seems to fit in well with the rest

I'd be willing to contribute an API for this, similar to the one of the default log package in Go

[2015-03-14 12:05] Karthic-Hackintosh commented on #118
@karalabe , I have latest version of both Go and AppEngine !
@rakyll , Do i have to wait till this bug is fixed to be able to write string data from my Go Runtime on App Engine directly into  a file in Google Cloud Storage ?? Is there any other way i could achieve the objective , this has become a issue to move ahead with further development of our application !

[2015-03-14 12:49] karalabe commented on #118
I am running on GAE and GCE and am able to access GCS so either something broke since Fabruary when I pulled the update last time, or there's something wrong on your end. It all works perfectly fine for me.

[2015-03-14 16:16] rakyll commented on #118
@Karthic-Hackintosh, please use the workaround suggested on the issue. Construct the context using the following helper function:

[code]

[2015-03-14 16:20] karalabe commented on #118
There was also my suggestion from a while back: I am running on top of this since then and I've never had issues. Has this been broken since?

https://github.com/GoogleCloudPlatform/gcloud-golang/issues/99

[2015-03-14 20:38] defcronyke commented on #118
I am having the same issue "not an App Engine context". There are about three slightly different workarounds floating around on here and stackoverflow, I have tried them all and they all fail.

For example, the workaround two posts above doesn't work because we are trying to make a context.Context, so how can we pass one in to the helper function when we haven't been able to successfully make a co

[2015-03-14 20:48] PSG-Luna commented on #118
You will need to change your app to use "google.golang.org/appengine"
instead of "appengine" as import path for any of these workarounds to work.
The new import path uses context.Context instead of appengine.Context and
has a few other API improvements, it will however take some effort to
convert.

On Sat, Mar 14, 2015 at 9:38 PM, Defcronyke <notifications@github.com>
wrote:

[2015-03-14 21:21] defcronyke commented on #118
Wow that is a big change! Where is the official announcement to make this import path change? I learned how to use these technologies from the official docs but I've never seen mention of this on there.

[2015-03-15 07:46] miko-code opened #120 "can't find import: "google.golang.org/api/storage/v1""
I'm trying  to implement this code to generate signed URL
https://cloud.google.com/storage/docs/access-control#signing-code-go
I did
[code]

But i getting this error

[code]

[2015-03-15 15:48] karalabe commented on #120
I believe they are changing import paths from

`github.com/google/google-api-go-client`
to
`google.golang.org/api`

Try doing `go get -u google.golang.org/api/storage/v1`

[2015-03-15 16:05] gmlewis commented on #118
I apologize for the confusion.  I didn't realize the example still showed the original "appengine" import.  I'm working on updating it.

[2015-03-15 20:13] miko-code commented on #120
@karalabe
thanks , that solved it
May by it should be added to the documentation ?

[2015-03-15 21:41] gmlewis commented on #120
https://code.google.com/p/google-api-go-client/ says that the repository was moved.

[2015-03-15 21:41] #120 closed

[2015-03-17 03:54] Karthic-Hackintosh commented on #118
@gmlewis  The updated code sample is failing to run . I could see this following error in the Log monitoring facility of the App Engine Developers console
**This request caused a new process to be started for your application, and thus caused your application code to be loaded for the first time. This request may thus take longer and use more CPU than a typical request for your application.
     P

[2015-03-17 04:54] gmlewis commented on #118
The first thing to check is the App Engine logs to see if anything unusual happened.
The second thing to realize is that requests on the default module are limited to 60 seconds... so it is possible that you may not want to run the full demo.

Finally, if you just want to write a string into a file in GCS, then delete all the other processing done in the example and modify the "createFile" example

[2015-03-17 06:31] kraoadori commented on #118
I updated the code , this leaves me with new Error in Log
***createFile: unable to close bucket "xxx.appspot.com", file "demo-testfile-go": googleapi: Error 404: Not Found, notFound***

[2015-03-17 06:39] Karthic-Hackintosh commented on #118
I updated the code , this leaves me with new Error in Log
***createFile: unable to close bucket "xxx.appspot.com", file "demo-testfile-go": googleapi: Error 404: Not Found, notFound***

This following messaged is displayed on the browser
***
Demo GCS Application running from Version: 3.382942966319033211
Using bucket name: xxx.appspot.com

Creating file /xxx.appspot.com/demo-testfile-go

Demo fail

[2015-03-17 15:44] gmlewis commented on #118
This failure is in production or running locally?
Please send me the full App Engine console log for that request via email.
Are you able to manually create a file in that bucket from the Developers Console?

[2015-03-18 19:07] Karthic-Hackintosh commented on #118
Yes I'm manually able to create files on bucket..The failure is in production

[2015-03-18 23:41] gmlewis commented on #118
I have not yet received the full App Engine console log via email for that request.
I have pushed the example to production and it works for me without modification.
Have you modified the example source code?
Please email me the App IP so I can investigate.

[2015-03-19 02:42] Karthic-Hackintosh commented on #118
@gmlewis , I have just mailed you the log .

[2015-03-20 13:41] Karthic-Hackintosh commented on #118
Firstly i thank @gmlewis for helping us out in fixing this . Here is what that had went wrong
1.Had to Accept New Terms of Service at appengine.google.com . It would have been great if i would have been forcibly redirected to this page when i enabled the API's for the first time (because these terms are concerning the users of these API's )
![terms](https://cloud.githubusercontent.com/assets/26095

[2015-03-20 13:42] #118 closed

[2015-03-20 13:52] Karthic-Hackintosh opened #121 "Go SDK example missing"
https://cloud.google.com/appengine/articles/logging contains the example for Python , Java SDk , this would be a discouraging sign for a Go Runtime User . It would be great if a third tag containing GO SDK is added along the existing code samples

[2015-03-20 14:25] gmlewis commented on #121
Logging in Go is very simple:
https://cloud.google.com/appengine/docs/go/requests#Go_Logging

[2015-03-20 14:29] Karthic-Hackintosh commented on #121
In the Go Runtime  i used the method c.Infof to log messages , but it fails to compile with the following error
***c.Infof undefined (type context.Context has no field or method Infof)*** .
The Error clearly tells that the app engine context returned from ***c := appengine.NewContext(r)*** is of type ***context.Context*** and it doesnt have a method ***c.Infof*** on it. But contrary to this the do

[2015-03-20 14:52] PSG-Luna commented on #121
You should import "google.golang.org/appengine/log" and do log.Infof(c, ...)

On Fri, Mar 20, 2015 at 3:30 PM, karthic rao <notifications@github.com>
wrote:

[2015-03-20 14:52] gmlewis commented on #121
Ah, yes.  You need to read the very first message from Dave Symonds here:
https://groups.google.com/forum/#!topic/google-appengine-go/RAFdSTwo34w

If it used to look like this with the "appengine" import:
[code]
then it will now look like this with the "google.golang.org/appengine/log" import:
[code]

These functions are documented in the link that you gave: https://godoc.org/google.golang.org/app

[2015-03-20 15:13] Karthic-Hackintosh commented on #121
Gotcha ! Thank You :)

[2015-03-20 15:13] #121 closed

[2015-03-20 15:17] Karthic-Hackintosh commented on #121
But the Documentation at https://godoc.org/google.golang.org/appengine/ should have stated to use log.Infof(c,"info") !!

[2015-03-25 07:11] Karthic-Hackintosh opened #122 "Not able to make a Newly created file public on Google Cloud Storage Go runtime Client API"
Here is the piece of code which i have used to write a string into a file in google cloud storage from Go Runtime

    wc := storage.NewWriter(d.ctx, bucket, fileName)
    wc.ContentType = "text/plain"
    wc.ACL = []storage.ACLRule{{storage.AllUsers, storage.RoleReader}}
    if _, err := wc.Write([]byte(myData)); err != nil {
            d.errorf("createFile: unable to write data to bucket %q, fi

[2015-03-25 07:35] gmlewis commented on #122
I just confirmed that this is broken... this code used to work and the file would be shared publicly.
I don't have time to investigate this further at the moment...
Something has changed but I don't know what.
I will investigate this next week.  Sorry for the delay.

[2015-03-25 07:40] Karthic-Hackintosh commented on #122
@gmlewis Thank you for your response. We will now wait to hear from you, as we have spent considerable time trying to get this to work. At least we know it was not something we were doing wrong now.

Would you know if this problem exists on the Java or Python runtime within Google Cloud, or this is just in the Go Runtime stack?

[2015-03-25 16:32] gmlewis commented on #122
I do not know, as I have not tested those runtimes.  It would be an excellent experiment, though... to try and narrow down the issue.  If those also exhibit the problem, then we are dealing with a bug in the GCS service itself.

Another interesting experiment is to use the google-api-go-client storage:v1 library directly to create the file and see if the results are the same.  If that library can

[2015-03-28 08:20] Karthic-Hackintosh commented on #122
We tested on Java Runtime , and it works ! Unfortunately we have to move to Java Runtime till this issue is fixed . Will be waiting to know about the status of this issue

[2015-04-06 17:37] jseeley78 commented on #122
Having this same issue; I would not expect the "storage.AllUsers" to give public access however as that just maps to the 'allUsers' ACL permission; According to the docs->
'allUsers does not make objects publicly accessible'

I had assumed I could send a different ACL permission like, ''public-read' but that isn't working either...
Is this truly not possible with the golang API?

[2015-04-07 22:56] jseeley78 commented on #122
It seems this actually does work, but if you only set the "allUsers" permission then you can't tell that there is actually a public link. I could confirm it worked when I set other permissions too->

wc.ACL = []gstorage.ACLRule{
		{Entity: gstorage.AllUsers, Role: storage.RoleReader},
		{Entity: gstorage.ACLEntity("project-owners-"+ProjectNumber), Role: storage.RoleOwner},
		{Entity: gstorage.ACLE

[2015-04-13 16:15] tmatsuo commented on #115
CL sent:
https://code-review.googlesource.com/#/c/2271/

[2015-04-13 16:22] tmatsuo commented on #116
How about to check if there are any empty strings before issuing the API call and returns an error?

[2015-04-13 16:47] tmatsuo commented on #116
Just in case, I'm talking about adding that check within pubsub.Ack. If it sounds good, I'll create a CL.

[2015-04-13 16:54] aaronkavlie-wf commented on #116
Sure, checking for empty strings in the library is sensible.

[2015-04-14 22:29] tmatsuo commented on #116
On the second thought, I think this should be fixed on the server side. The server should return 400 status code ideally with a helpful error message.

WDYT?

[2015-04-14 22:58] tmatsuo commented on #115
Fixed now

[2015-04-14 22:58] #115 closed

[2015-04-14 23:22] aaronkavlie-wf commented on #116
In my mind, both would be ideal.

You'd want the server to give you a sensible error for obvious errors like empty strings... but basic validation still seems sensible on the client as well, to avoid a round-trip to the server for obvious cases.

[2015-04-15 19:01] tmatsuo commented on #116
Thanks, the CL sent:
https://code-review.googlesource.com/#/c/2290/1

[2015-04-15 20:04] #116 closed

[2015-04-15 22:49] nikolasborrel commented on #118
I’m as well trying to recover from a panic situation (running latest App Engine/Cloud/Go versions) .

@gmlewis states that "google.golang.org/appengine” should be imported now instead of “appengine”.

This is what happens when the new context command is triggered

c := appengine.NewContext(r)

[restful] recover from panic situation: - invalid context.Context type; it should be created with cloud.N

[2015-04-15 23:19] gmlewis commented on #118
Can you please try out the information found here: https://github.com/golang/oauth2/#app-engine
and let me know how that works for you?

[2015-04-16 00:11] gmlewis commented on #118
cloud.NewContext will ideally go away at some point.
You should use appengine.NewContext to get the baseline context, and pass that via cloud.WithContext to get a context that works for both App Engine APIs and Cloud APIs.

[2015-04-16 15:58] nikolasborrel commented on #118
Good news! No panic in c := newappengine.NewContext(request.Request) anymore. Did you made some changes to the App Engine? Because that was my main problem!

And the following works as expected, thanks!

c := newappengine.NewContext(request.Request)
hc := &http.Client{
   Transport: &oauth2.Transport{
			Source: google.AppEngineTokenSource(c, storage.ScopeFullControl),
			Base:   &urlfetch.Transpo

[2015-04-16 16:15] gmlewis commented on #118
Excellent.  Glad to hear it.  Many parts have been moving within the last couple of months, but maybe just updating everything did the trick?  I don't know.

[2015-05-07 14:48] gpopovic commented on #119
Looking forward to the logging api

[2015-05-11 00:00] bradfitz commented on #110
I just ran into this too. Seems like an easy enough addition.

[2015-05-11 00:02] bradfitz commented on #122
Yes, this is a bug in Google's web frontend for Cloud Storage. It doesn't have permission itself to know whether it's public or not.

The workaround is to give it permission to notice that it's public.

[2015-05-11 00:04] bradfitz commented on #78
I'd rather just see this be automatic.

I just tried to upload a 5 GB file and it failed (on Close, oddly) with:

[code]

We should buffer any un-acked data on the Writer, and flush periodically to bound memory requirements. The user could configure on the Writer what the flush size is.

[2015-05-18 23:26] rakyll commented on #78
I'd prefer an incremental writer that accepts an io.ReadSeeker. A parametric buffer size sounds good in theory, but will be hard to determine/optimize the size when concurrency is involved.

[2015-05-18 23:34] rakyll commented on #77
Compute API is not in the short-term scope of this project.

[2015-05-18 23:34] #77 closed

[2015-05-18 23:35] rakyll commented on #119
@bradfitz showed some interested to work on it. I am not sure about his progress.

[2015-05-18 23:39] rakyll commented on #109
Not reproducible with a pem. Are you sure your pem is not corrupt? I am closing the issue, open it if it's still the case.

[2015-05-18 23:39] #109 closed

[2015-05-18 23:42] rakyll commented on #117
What's the status of this issue? I am blocked by the same case.

[2015-05-18 23:54] jacobsa commented on #117
I stopped using this package so I'm not sure of the status here, but I wrote my own decently-tested code with no known bugs that you can feel free to take from. [Here](https://github.com/jacobsa/gcloud/blob/bd772366fca7149515be3ad39a0f2a60bdf360b0/gcs/read.go#L34-L63) is the code that constructs a URL for reading an object, and [this](https://github.com/jacobsa/gcloud/blob/bd772366fca7149515be3ad3

[2015-05-19 00:12] bradfitz commented on #119
I have a working package. I haven't mailed it yet. I keep getting distracted with unrelated broken things.

[2015-05-19 02:01] gmlewis commented on #117
https://code-review.googlesource.com/#/c/2070/
I'm confused by the current state of the review, and I don't know if any action is needed on my part.
I believe that this is a correct solution and the unit tests pass.
@okdave - can this be rebased and submitted?

[2015-05-19 03:32] gmlewis commented on #117
Thanks, Dave!
Fixed.  Closing.

[2015-05-19 03:32] #117 closed

[2015-05-19 11:16] swalkowski opened #124 "ModifyAckDeadline does not convert deadline to seconds"
It looks like there is a missing division by time.Second in this line:

https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/pubsub/pubsub.go#L116

which makes the whole function work incorrect.

[2015-05-19 14:14] gmlewis commented on #122
What if we made this simpler by providing:
[code]
that returns the example shown [two comments prior](https://github.com/GoogleCloudPlatform/gcloud-golang/issues/122#issuecomment-90753260)?
@rakyll - SGTY?

[2015-05-19 14:15] bradfitz commented on #122
@gmlewis, that means we're adding new API (that we have to maintain forever and users will have to see in godoc forever), just to work around a bug elsewhere (the GCS web UI). That seems less than ideal.

[2015-05-19 14:25] gmlewis commented on #100
From the comments in 1721, it appears that this was fixed in https://code-review.googlesource.com/#/c/1751
Closing.  Please re-open if this is not the case.

[2015-05-19 14:25] #100 closed

[2015-05-19 16:44] rakyll commented on #122
@gmlewis, I agree with Brad that we shouldn't introduce new APIs as bug workarounds. We can just give them a link to this issue until the web UI bug is fixed.

[2015-05-19 17:02] rakyll commented on #103
Obsolete, closing.

[2015-05-19 17:02] #103 closed

[2015-05-19 17:03] rakyll commented on #105
Is this still an issue? https://code-review.googlesource.com/#/c/1780/ should have fixed it a while ago. Please re-open if necessary.

[2015-05-19 17:03] #105 closed

[2015-05-19 17:11] rakyll commented on #124
Mailed https://code-review.googlesource.com/#/c/2600/.

[2015-05-19 19:07] gmlewis commented on #124
Fixed by @rakyll in https://github.com/GoogleCloudPlatform/gcloud-golang/commit/b0ed34171eb0f730dda336155af9a3f60aa203b0
Closing.

[2015-05-19 19:07] #124 closed

[2015-05-22 20:55] solidsystem opened #125 "storage: integration test bucket name variable not used"
When running the integration test for the storage library locally, the documentation says to set environment variable GCLOUD_TESTS_GOLANG_BUCKET_NAME to determine what bucket to run test in (https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/CONTRIBUTING.md#integration-tests).

In the source code I find that GCLOUD_TESTS_GOLANG_PROJECT_ID was used instead. I've created a patch to fix

[2015-05-22 22:00] gmlewis commented on #125
Yes, I came across this too and made the same PR, but it was rejected as "Working as intended."

Please feel free to create a PR to fix the documentation for the integration test.

I'll leave this issue open to track that progress, and so that others don't do the same thing.

[2015-05-22 23:14] rakyll commented on #125
The rest of the other package tests require a `GCLOUD_TESTS_GOLANG_PROJECT_ID` env variable. My intention was to reuse it and avoid user to set an additional env variable.

A better alternative is to create a bucket programmatically before the tests begin and delete it afterwards.

[2015-05-24 19:41] solidsystem commented on #125
I created a PR to fix the documentation:

https://code-review.googlesource.com/#/c/2630/

[2015-05-24 20:27] rakyll commented on #125
Thanks! 629ed086d82ad5d0ac3668e309b8785aaf54735b closed the issue.

[2015-05-24 20:27] #125 closed

[2015-05-28 22:45] hjfreyer opened #126 "datastore: document use of local development server"
The documentation for gcd only gives examples for Java and Python, both of which are configured automagically via environment variables. I tried writing:

    http, err := cloud.DialHTTP(context.Background(), cloud.WithEndpoint("localhost:8080"))

But that gave the error:

    google.DefaultTokenSource: google: could not find default credentials. See https://developers.google.com/accounts/docs/app

[2015-05-29 02:32] okdave commented on #126
Need to double check, but I think Python/Java use `DATASTORE_HOST` and `DATASTORE_DATASET` for auto configuration

[2015-05-29 02:47] okdave opened #127 "make pubsub use new ClientOptions"
As per bigtable, pubsub should follow the `pubsub.NewClient(foo, ...cloud.ClientOption)` pattern

See bcd419df

[2015-05-29 02:48] okdave opened #128 "make bigquery use new ClientOption"
As per bigtable, bigquery should follow the `pubsub.NewClient(foo, ...cloud.ClientOption)` pattern

See bcd419df

[2015-05-29 02:48] okdave opened #129 "make storage use new ClientOption"
As per bigtable, storage should follow the `pubsub.NewClient(foo, ...cloud.ClientOption)` pattern

See bcd419df

[2015-05-29 02:49] okdave opened #130 "make datastore use new ClientOption"
As per bigtable, datastore should follow the `pubsub.NewClient(foo, ...cloud.ClientOption)` pattern

See bcd419df

[2015-05-29 18:17] hjfreyer opened #131 "bigtable: In-memory bigtable doesn't support ServerTime"
Specifically, it checks that the timestamp is rounded to the nearest millisecond, and doesn't special-case the -1 sentinel value.

[2015-05-30 01:10] adg commented on #104
I sent this fix: https://code-review.googlesource.com/2670

[2015-05-30 01:24] adg commented on #104
@okdave Another person sent an equivalent fix (minus tests, which my change has). Not sure how this was missed; is nobody receiving notifications for incoming code reviews?

https://code-review.googlesource.com/#/c/2560/1

[2015-06-01 12:26] eaigner opened #132 "storage: clarify if calls can be used on "folders""
The docs should make clear if `storage.DeleteObject` (and similar calls) can operate on objects ("folders") with children ("subdirectories").

PS: Is it possible?

[2015-06-01 15:57] gmlewis commented on #132
Google Cloud Storage does not have separate objects of type "folder".
Instead, if objects have slashes in the name, they can be grouped and browsed in virtual "folders" from the GCS browser, but as soon as the last object is deleted from a virtual "folder", that "folder" no longer exists.
Check out https://cloud.google.com/storage/docs/overview for more information.

[2015-06-01 16:05] eaigner commented on #132
I was just pointing out that the documentation of methods like `storage.DeleteObject` doesn't make it clear that this would only work on a single object, and not on a prefix (like with a `Query`).

I was actually expecting that when I have 2 objects

- `path/to/obj/a.txt`
- `path/to/obj/b.txt`

and I call `DeleteObject(ctx, bucket, "path/to/obj")`, both would be deleted.

[2015-06-01 16:37] gmlewis commented on #132
Oh, I see.  Thanks, Erik.
@okdave - What if we were to provide a `storage.DeleteFolder` method that would first query all objects in the virtual folder and then delete them all?
In the same PR, we could improve the documentation of `storage.DeleteObject`.

[2015-06-01 16:44] eaigner commented on #132
That would be great, although I think `DeletePrefix` would be more appropriate to match the GCS terminology.

[2015-06-02 01:48] #104 closed

[2015-06-02 02:09] okdave commented on #104
@adg Yikes. I don't know how to configure code-review to notify, but I'll look into it now.

[2015-06-02 07:07] okdave commented on #132
I would err on just improving the documentation for `DeleteObject` now. `DeletePrefix` actually sounds like it would be better implemented as an example or helper utility: I don't think this library can implement it any more efficiently internally than could be done using the external API, and it would be a good way to demonstrate how the code should be invoked.

[2015-06-02 18:08] adg commented on #132
I don't think it's feasible for us to provide a wildcard-matching delete.
What about buckets with hundreds of thousands or millions of objects?

On 2 June 2015 at 00:07, Dave <notifications@github.com> wrote:

[2015-06-03 07:08] eaigner commented on #132
@adg I don't see it that way. It's true that a user could misuse a `DeletePrefix` methods, but no more than doing it via the snippet provided in the docs.

[code]

At least a `DeletePrefix(prefix string, maxItems int)` would actively remind the user that this could be an expensive operation by having to specify the `maxItems` parameter (or `-1` for all).

[2015-06-03 09:26] okdave commented on #132
@eaigner is there anything about `DeletePrefix` that could not be built on top of the existing API, or that is terribly subtle?

[2015-06-03 09:59] eaigner commented on #132
No not really. It was just a suggestion.

[2015-06-03 15:39] adg commented on #132
IMO it's better for the API to confront the user with the cost (many list
and delete calls), and allow them to handle the spefici failures of each.
If we provide a single wildcard-matching delete method then we need to
provide a complex error reporting structure to indicate partial failures.
Doesn't seem worth it, on balance.

On 3 June 2015 at 02:59, Erik Aigner <notifications@github.com> wrote:

[2015-06-04 21:29] ImJasonH opened #133 "pubsub: errors do not provide enough info"
Because this library simply wraps the generated Go clients, but doesn't document that/how it does that, it can be confusing to handle errors from some methods.

For instance, if I want to call `pubsub.CreateSub` and determine whether it returned an error because the server was unreachable or because the subscription already existed, I have to attempt to cast the error to an error type defined in a

[2015-06-05 07:27] gpopovic commented on #119
@bradfitz any news about it?

[2015-06-05 07:28] gpopovic opened #134 "Cloud monitoring (custom metrics)"
Any plans for cloud monitoring api?

[2015-06-07 03:43] #132 closed

[2015-06-09 09:35] pjvds opened #135 "Terrible latency compared to `appengine` package"
## TLDR;

We are currently evaluating the appengine platform and we see terrible latency when getting data from the datastore.

The interesting part is that this only happens if we get the data with `cloud/datastore` package, when we do the same thing with the `appengine/datastore` package the latency problems are gone.

## Context

We are running our app in the appengine (not the compute engine).

[2015-06-09 09:42] PSG-Luna commented on #135
cloud/datastore currently uses a transparent translator that translates down an API version. Could this be related to the warmup time of said translator ? Does the average latency improve at all after a period of consistent requests ?

[2015-06-09 09:52] pjvds commented on #135
@PSG-Luna It does start terribly slow for the first few seconds, and then stabilize at slow (2s latency), even if we let it run for 15 minutes.

[2015-06-09 15:13] pjvds commented on #135
What we have tried so far:

- run the same code in the **compute engine**
- run the same code in a new project in **Europe**
- run the same code in a new project in **US**
- increase warmup time to **30 minutes**

We still see the same terrible latency in all cases listed above, roughly **2-3 seconds**. The appengine dashboard is showing latencies of **1.5-2.5 seconds**.

When I switch to the `app

[2015-06-09 22:56] okdave commented on #135
The difference between `appengine/datastore` and `cloud/datastore` is not surprising, though it might improve over time.

Currently the `cloud` version of datastore always uses a HTTP connection to contact the service, whereas the `appengine` version uses a heavily optimised-for-app-engine connection. I would use the latter version unless you really need to re-use the code outside the app engine e

[2015-06-10 05:30] ImJasonH opened #136 "Support metadata change notification using channels."
See https://cloud.google.com/compute/docs/metadata#waitforchange

TL;DR: The GCE metadata server supports hanging `GET` requests for metadata changes, either for a single key, or recursively for changes to any metadata in a directory.

It would be great to expose this to Go clients through a channel.

[2015-06-10 08:17] ptomasroos commented on #135
@okdave Does this mean that Compute Engine and Container Engine users should be expecting terrible latency of the most fundamental storage service in the Google Platform?

[2015-06-10 08:23] cnbuff410 commented on #135
/sub

We ran into similar issue before. And didn't have good solution yet.

[2015-06-10 08:26] ptomasroos commented on #135
@cnbuff410 sad to hear. Skipped using the service or which workaround was taken?

[2015-06-10 08:45] cnbuff410 commented on #135
@ptomasroos our service is fairly simple, so more optimizations based on memcache or UI design makes it usable.

[2015-06-10 16:00] andrewverte commented on #114
My solution was to cache the signed URLs.

I'm not using the `storage` package, but rather appengine.SignBytes. I think each URL takes around 10 ms.

[2015-06-10 18:01] adg commented on #136
Nice idea.

On 9 June 2015 at 22:30, Jason Hall <notifications@github.com> wrote:

[2015-06-11 15:52] broady commented on #135
Hi all,

Thanks for the reports.

We'll soon be making an infrastructure change that should result in improved latency for the Cloud Datastore API. It should be live once we release `v1beta3`.

I'll update this thread once I know more. Sorry, I don't have a timeline.

[2015-06-17 18:05] hjfreyer opened #137 "bigtable: support conjunctive filters for CondMutation"
AFAICT, there's no way given the current API to apply a mutation if any only if a row contains, say, column A AND column B.

The proto lists support for a RowFilter_Condition, but a) that's not wrapped in the API, and b) the comment seems to suggest than an implementation of A && B wouldn't be checked atomically, which makes it often unsuitable.

With SkipFilter, one could implement "A && B" as "S

[2015-06-17 18:11] hjfreyer commented on #137
Aha, it seems that there's support for skipping items in bigtable_data.proto, by way of CellsPerRowOffsetFilter.

Maybe the library should have a ProtoFilter which lets your build the proto manually if you Know What You're Doing :tm:?

[2015-06-18 18:17] tmatsuo opened #138 "travis builds failing"
https://travis-ci.org/GoogleCloudPlatform/gcloud-golang/builds

Are you still using travis for CI, or are you using something else?

[2015-06-18 18:51] gmlewis commented on #138
Yes, we are.  I'll investigate.

[2015-06-18 19:03] gmlewis commented on #138
It looks like [one commit](https://github.com/GoogleCloudPlatform/gcloud-golang/commit/c29b8a96e706d555f7ad20f4b60eacf799b38be4) broke the [Go:tip](https://travis-ci.org/GoogleCloudPlatform/gcloud-golang/jobs/65350777) build and [another commit](https://github.com/GoogleCloudPlatform/gcloud-golang/commit/d3d1bf0824dc807dcad25d3696b634cc8599ad60) broke the [Go:1.4](https://travis-ci.org/GoogleCloud

[2015-06-23 17:43] smreed opened #139 "code reviewing tool instructions are incorrect"
Current version of CONTRIBUTING.md has instructions to run `go get golang.org/x/review/git-review`, which produces an error and the following output:

[code]

However `go get golang.org/x/review/git-codereview` seems to work.

[2015-06-23 17:49] gmlewis commented on #139
https://code-review.googlesource.com/#/c/2920

[2015-06-23 21:28] nileshjagnik commented on #139
This command seems to work. Not sure if this is the correct tool
`go get golang.org/x/review/git-codereview`

[2015-06-23 21:32] ImJasonH commented on #133
Maybe it's better to have an `IsConflict(err error) bool` method, that does the work of casting it to a `googleapi.Error` and checking the `Code`. That would also allow for future implementations not based on the generated client, without changing the API surface.

If such a method were to exist, it could be useful across all subpackages, e.g., `storage.CreateBucket` or future methods to create ot

[2015-06-24 04:07] #139 closed

[2015-07-01 22:57] smreed opened #140 "bigtable: decodeFamilyProto uses sprintf when simple concatenation is faster"
https://code-review.googlesource.com/#/c/2930

For small strings it is faster to use naive concatenation instead of `fmt.Sprintf`. I'm happy to post a benchmark if necessary.

[2015-07-05 14:06] kit1989 opened #141 "Google Storage: googleapi: Error 404: Not Found, notFound"
I am trying to use Google Storage to upload a file. I have successfully uploaded a file with the same code base in dev environment which use service json for authorization. However, when I deploy same code in GCE and try to upload a file, the server return "googleapi: Error 404: Not Found, notFound" to me. I have checked the permission of my instance. It is full-control for Google Storage. What's

[2015-07-06 17:25] gmlewis commented on #141
Which call is returning this error?  It sounds to me like your Objects.Insert call is missing the object's name.  If it were me, I would debug this by instrumenting the call to get the full response from the server when the Objects.Insert call is being made.

[2015-07-07 10:20] Natata opened #143 "ReadRows(...) only adapt one ReadOption"
ReadRows accepts multiple ReadOption
[code]
but in the bigtable.go#L278
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/df65e0af2d15158fecd80eed6333e2927bf2ed54/bigtable/bigtable.go#L278

it would only adapt last one ReadOption as filter
[code]

[2015-07-08 13:22] Eksrow opened #144 "Unable to upload files bigger than 10mb through app engine"
[code]

For some reason this code works perfectly fine for files smaller than 10mb, but once it exceeds the files no longer appear on the app engine bucket browser. I've tried different writers like bufio and ioutil's readAll, they all report the same number of bytes written but files bigger than 10mb aren't available on GCS.

This started happening when I changed from the File api to the new clou

[2015-07-08 14:22] ianrose14 commented on #144
I believe this is because urlfetch (which you have to use on appengine to POST to GCS) is limited to a 10MB request payload.  https://cloud.google.com/appengine/docs/python/urlfetch/#Python_Quotas_and_limits

[2015-07-08 14:27] Eksrow commented on #144
I can't believe I wasted an entire day on this....

Thanks for the help ian.

[2015-07-08 14:27] #144 closed

[2015-07-10 22:35] fredr commented on #134
+1
I might be able to help out with this, if help is wanted

[2015-07-11 05:43] kit1989 commented on #141
Finally, I found the issue. It's my fail. I am using different config in GCE environment and I haven't create any bucket for that environment. Thanks for you reply @gmlewis

[2015-07-11 05:43] #141 closed

[2015-07-12 13:19] al3xdm commented on #135
Hi @broady , appreciate that it's difficult to give timelines, but is there any update you can give us? It's really a blocker for us running in production. In April another team member said that the fix would be live in the coming months ( https://groups.google.com/forum/#!topic/gcd-discuss/Pvpc5740lfI ), would be great to get this last hurdle out the way :)

[2015-07-14 05:03] broady commented on #135
Sorry, no updates -- I'll update this thread once it goes live. I'm subscribed to our updates internally at Google.

There shouldn't be any change to the public API, so it shouldn't be tied to a milestone. We'd just be changing out the underlying transport.

[2015-07-17 19:50] hegemonic opened #145 "bigtable: No such thing as a "prototype table" for search.go"
The comments in `examples/bigtable/search/search.go` claim that there's a Cloud Bigtable "prototype table" called `shakespearetemplate`, which "is an existing table containing some documents." Of course, there's no such thing on Cloud Bigtable.

What's more, you can't rebuild the `docindex` table unless the `shakespearetemplate` table also exists in your cluster.

The concept of a pre-populated ta

[2015-07-19 15:45] ImJasonH opened #146 "storage: compose objects API"
https://cloud.google.com/storage/docs/json_api/v1/objects/compose

This method lets you compose an object in GCS from other existing objects in GCS. The generated client can be called like so:

[code]

Source objects must be in the same bucket as each other, and the destination object. The API allows the caller to specify a particular generation of source objects, and to require that the destinati

[2015-07-19 23:31] dsymonds commented on #145
The comment probably isn't clear enough, but the intention is that you *may* have an existing table containing documents and you can use the sample code to index those documents rather than have to upload them one at a time. That concept is definitely not a holdover from internal code, but perhaps is a distraction for the sample code.

@jcd2 wrote this sample; John, do you have an opinion here?

[2015-07-19 23:33] dsymonds commented on #140
While that's true, it loses a little bit of clarity in the formatting, and the speed difference is insignificant once you're actually making RPCs. I'd prefer to leave it as is for now.

[2015-07-19 23:33] #140 closed

[2015-07-19 23:41] dsymonds commented on #138
Travis appears to be using a broken tip, over two weeks old. The real tip works fine and doesn't break in those ways.

[2015-07-19 23:44] dsymonds commented on #143
I'm not sure what the issue is. You're looking at code for one particular ReadOption implementation; any future ReadOption implementations will be responsible for doing their own work.

If you're trying to pass multiple filters to one ReadRows call, the answer is that you cannot do that. The underlying RPC only permits a single filter, so you'll need to combine your multiple filters by using, for

[2015-07-19 23:44] #143 closed

[2015-07-19 23:47] dsymonds commented on #137
We're unlikely to ever support exposing the proto API directly.

We can certainly implement missing filters, though. I'm not sure `cells_per_row_offset_filter` satisfies your original use case. Can you describe how that would work?

[2015-07-20 00:55] #131 closed

[2015-07-20 17:09] gmlewis commented on #138
Now locally I get this error:
[code]
I'll work on it.

[2015-07-20 18:35] gmlewis commented on #138
This error appears to be a regression in the Cloud Storage API.  Filed a bug with the Storage team.

[2015-07-21 03:44] gmlewis opened #147 "storage: PutBucketACLRule currently broken by GCS Storage API"
Leaving this issue open until we get a resolution from the GCS Storage team.

[2015-07-21 03:46] gmlewis commented on #138
Travis Go 1.4 tests are now passing.  I filed a separate issue for the commented-out PutBucketACLRule test.  Closing issue.

[2015-07-21 03:46] #138 closed

[2015-07-26 00:48] derekperkins opened #150 "bigtable doesn't register with Cloud Trace"
It would be great to see bigtable calls listed as RPCs in Cloud Trace.

[2015-07-27 12:13] flowlo commented on #126
I'm developing an application that facilitates both Google App Engine (Managed VM, Go) and Google Compute Engine (Go) and accesses Datastore from both sides.

This works fine in production, although I am struggling a bit to get a nice testing and fiddling setup to run. It might be the case that this is just because of the apparent lack of documentation, so I will explain what we are trying here. I

[2015-07-27 21:28] stephenplusplus commented on #147
Just a heads up we received an update over here: https://github.com/GoogleCloudPlatform/gcloud-node/issues/716#issuecomment-125346513

[2015-07-28 10:35] okdave commented on #130
Implemented in commit 14ff860

[2015-07-28 10:35] #130 closed

[2015-07-28 21:09] derekperkins opened #151 "bigtable: update bttest docs"
Normally I'd just open a PR for this, but there's a little too much overhead for now.
[code]
should be changed to:
[code]

[2015-07-28 21:11] derekperkins opened #152 "bigtable: support DeleteRow mutation in bttest"
It would be great if the `DeleteRow` mutation was supported in bttest. This is the error that is currently returned.
[code]

[2015-07-30 04:53] #152 closed

[2015-07-30 08:11] browny opened #153 "Error in "go get google.golang.org/cloud/datastore""
Below are errors when execute `go get google.golang.org/cloud/datastore`

/Go/ext/src/google.golang.org/cloud/datastore/datastore.go:215: undefined: MultiError
/Go/ext/src/google.golang.org/cloud/datastore/datastore.go:236: undefined: typeOfPropertyList
/Go/ext/src/google.golang.org/cloud/datastore/datastore.go:240: undefined: typeOfPropertyLoadSaver
/Go/ext/src/google.golang.org/cloud/datastore/d

[2015-07-30 11:19] broady commented on #153
Probably a problem on your end. This works fine for me, could you try it?
`$ GOPATH=$TMPDIR go get google.golang.org/cloud/datastore`

[2015-07-30 12:08] browny commented on #153
yes, go get now works, but some strange issue happens

When I import "google.golang.org/cloud/datastore" in my code, several function shown as `undefined` when I run `go build` (as below error)

But, if I reset to several commit before in `google.golang.org/cloud/datastore` in GOPATH, above issue was gone

    rtc-middle/gds/gdsmanager.go:52: undefined: "google.golang.org/cloud/datastore".Put

[2015-07-30 12:48] browny commented on #153
I found it seem due to this a backwards incompatible change, I will change my code first, thanks

https://github.com/GoogleCloudPlatform/gcloud-golang/commit/14ff860d19a87fb91816f2cb19c73e059a09e0e4

[2015-07-30 12:48] #153 closed

[2015-07-30 13:03] broady commented on #153
Yup, that's it!

[2015-07-30 16:03] derekperkins commented on #152
Thanks for taking care of that so quickly!

[2015-08-03 02:01] okdave opened #155 "datastore: GetMulti should accept the zero-valued []*S"
As per golang/appengine@6aa67407028217c352e215f5af320a429d0bcf5f

[2015-08-03 02:01] okdave opened #156 "datastore: needs proper package documentation"

[2015-08-03 02:01] okdave opened #157 "datastore: allow configuration of transaction attempts"
As per golang/appengine@3c66cbb51cf0fe8a8ae6e2288afa2f000ca7d9dd

[2015-08-03 22:52] crhym3 opened #158 "pubsub: update to v1"
pubsub is still [using a deprecated version v1beta2](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/e34a32f9b0ecbc0784865fb2d47f3818c09521d4/pubsub/pubsub.go#L34).

[2015-08-07 15:27] rsc commented on #122
The comment from March 28 says the Java API works. For @Karthic-Hackintosh can you post the snippet of Java code you are using that works?

For @gmlewis, @bradfitz, @rakyll, @okdave, why does the Java API work and Go does not? Is the Java API fixing up the call? If so Go could do that without introducing new API.

[2015-08-07 19:39] Karthic-Hackintosh commented on #122
@gmlewis   , @rakyll , @bradfitz  , Isnt this issue fixed yet ??   We are planning to move our Java pieces to Go , If this issue isnt fixed yet then we'll halt the port to Golang on AppEngine for a while .
@rsc  , the following code anippet in Java helps to make the uploaded file public
```GcsFileOptions ruleForWrite = new GcsFileOptions.Builder().acl("public_read").mimeType("text/plain").build()

[2015-08-07 19:48] gmlewis commented on #122
Isn't the workaround shown above in the April 7 comment sufficient to unblock you until this is officially fixed?

[2015-08-08 21:26] ernestoalejo opened #159 "datastore: index out of range panic when decoding some invalid keys"
When decoding some invalid keys it panics instead of returning an error. For example it fails when decoding the string `Laboratorio`

`google.golang.org/appengine/datastore` returns an error like this: `proto: bad wiretype for field datastore.Reference.App: got wiretype 0, want 2`

**Example code:**
[code]

**Output:**
[code]

[2015-08-11 00:08] gmlewis commented on #122
It turns out that having `wc.ACL = []storage.ACLRule{{storage.AllUsers, storage.RoleReader}}` is sufficient to make the file publicly accessible.

The Cloud Console, however, is only displaying the "Shared Publicly" checkmark if the workaround in the April 7 comment is used.  I'm filing a bug with the Cloud Console team and am closing this issue as Working As Intended.

[2015-08-11 18:03] gmlewis commented on #122
I've learned that the use of PredefinedACLs can improve the situation here, so I'm re-opening the bug and will put together a PR.

[2015-08-11 19:34] gmlewis commented on #122
I've tested out the use of PredefinedAcl ("publicRead") from storage:v1 and it does not solve the problem. The Cloud Developers Console team is aware of the issue and is working on a solution.

Meanwhile, using `wc.ACL = []storage.ACLRule{{storage.AllUsers, storage.RoleReader}}` does make the file publicly accessible and if you want the checkmarks to show up as "Shared Publicly" in the Cloud Devel

[2015-08-11 19:34] #122 closed

[2015-08-19 23:01] krousey opened #160 "compute/metadata imports another library's internal code and doesn't compile with 1.5"
[code]

[2015-08-19 23:14] gmlewis commented on #160
I'm unable to reproduce the error with a simple test case I wrote.
Did you `go get google.golang.org/cloud/compute/metadata`?
It looks like you may have retrieved the package using `git clone` instead of `go get`.
Can you try that, please?

[2015-08-19 23:43] krousey commented on #160
A dependency we had in Kubernetes imported through the github url instead of google.golang.org. It's been fixed here: https://github.com/google/cadvisor/pull/859

[2015-08-19 23:43] #160 closed

[2015-08-25 09:58] hsinhoyeh opened #161 "[bigtable] need more filter support in bttest"
we would like to use bttest to test our library which uses bigtable's client to read/write data.
in our case, we use the following filter:
ColumnFilter(xxx), LatestNFilter(xxx), InterleaveFilters() and ChainFilters()

however the current implementation (
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/bttest/inmem.go#L268
) has implemented limited filters which is barely

[2015-08-30 13:23] kit1989 opened #163 "datastore: error during call, http status code: 412 no matching index found."
Hi

When I try to do a query on Google Datastore, I got the following error message from Google Datastore.

*error during call, http status code: 412 no matching index found.*

I read the docuementation in Google Cloud : https://cloud.google.com/appengine/docs/go/datastore/queries#Go_Restrictions_on_queries

It shows an example mix with equality (=) and inequality filter in a query. So, I do the f

[2015-08-31 18:59] gmlewis commented on #147
https://code-review.googlesource.com/#/c/3370

[2015-08-31 19:00] gmlewis commented on #147
The Google Cloud Storage team has fixed the issue on the backend.
Re-instituting test.

[2015-09-01 02:44] okdave commented on #163
@kit1989 it looks like your query is valid, but you need to define additional indexes before it will work.

If you read the [docs about datastore index](https://cloud.google.com/datastore/docs/concepts/indexes) you will see that there are automatically indexes for many cases. However you need to manually define an index for "Queries with one or more inequality filters on a property and one or more

[2015-09-01 02:44] #163 closed

[2015-09-01 06:59] onlyjob opened #164 "datastore_v1.proto: Please clarify license"
File [datastore_v1.proto](../blob/master/internal/datastore/datastore_v1.proto)
contains "_Copyright 2013 Google Inc. All Rights Reserved._" and no license which may indicate proprietary file.

Please update header of this file to include licensing information or consider removing the `datastore_v1.proto` file if it is non-free.
Thanks.

[2015-09-02 02:18] #164 closed

[2015-09-02 03:52] onlyjob commented on #164
Thank you. :)

[2015-09-03 00:54] dsymonds commented on #161
bttest should already support ColumnFilter and LatestNFilter. The only two missing from your list are InterleaveFilters and ChainFilters. That should be easy enough for me to do.

(In general, just file an issue for any filters you want implemented; I'll add them on demand.)

[2015-09-03 00:55] dsymonds commented on #161
Correction: ChainFilters should already work with bttest. It is only InterleaveFilters that is missing.

[2015-09-03 01:10] #161 closed

[2015-09-03 02:33] hsinhoyeh commented on #161
thanks

[2015-09-03 14:39] hsinhoyeh opened #165 "[bigtable] need lastNFilter support in bttest"
this issue is related to  #161, where we need more filter support in bttest.
we use the latest code and found that LastNFilter is still missing.
would you like to check that? the logs we got
[code]
and that is what lastNFilter used
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/filter.go#L142

[2015-09-03 15:38] hsinhoyeh opened #166 "[bigtable] need GetTable support in bttest"
GetTable is called via GetTableInfo in admin.go
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/admin.go#L148

however, bttest has no corresponding method, so if we call this fun in client side, we got panic:
[code]
having such quick fix, we got error instead of panic:
[code]

[2015-09-03 16:58] evandbrown opened #167 "metadata client broken in Go 1.5"
The [client for retrieving GCE metadata](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/compute/metadata/metadata.go#L50) imports `google.golang.org/cloud/internal` to [create a transport](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/compute/metadata/metadata.go#L50) for the metadata client. The new imports convention in Go 1.5 isn't cool with that. Should `in

[2015-09-04 02:12] adg commented on #167
Broken you say? Are you importing it as `"google.golang.org/cloud/compute/metadata"`? Because that shouldn't run afoul with the internal package rules.

[2015-09-04 02:20] dsymonds commented on #166
Yeah, the admin API is generally sparsely implemented in bttest. I can see about implementing pieces.

[2015-09-04 02:24] evandbrown commented on #167
It's not obvious to a new user of this package (and others that mirror google.golang.org) that the import provenance matters. GitHub is the first search result I got for 'golang gce metadata', and importing from there worked for months before switching to 1.5. So yeah, broken.

Brad fixed it this morning; https://code-review.googlesource.com/#/c/3372/2/compute/metadata/metadata.go

[2015-09-04 02:24] #167 closed

[2015-09-04 02:25] dsymonds commented on #165
How are you composing your filters? I guess you're using LatestNFilter inside another filter?

[2015-09-04 03:22] hsinhoyeh commented on #165
yap, more like this
[code]

[2015-09-04 04:47] Karthic-Hackintosh commented on #78
This issue remains unresolved and as writing larger files with the storage writer is critical to our product, we remain rather frustrated that this has not been fixed. Given our startup is one of those selected for a large Google Cloud Platform credit as part of their Startup award last year to build and deploy our MVP, we are in thick of building alpha on GCP. However, we will have no product if

[2015-09-04 04:58] bradfitz commented on #78
@Karthic-Hackintosh, there's progress on this front happening here: https://code-review.googlesource.com/#/c/2762/

I also need this and regularly hit this. It's been frustrating me too.

I'm still catching up after ~month away on vacation & trips, but I'll try to figure out what the status is here and see how I can help, if possible.

[2015-09-04 05:05] Karthic-Hackintosh commented on #78
@bradfitz , Thank you for the prompt response . Will be hoping and waiting for an update and a quick fix on this issue .

[2015-09-04 06:23] Karthic-Hackintosh opened #168 "Most of the Examples in the Docs are still pointing to appengine/* package"
Most of the examples in the Docs , like the one in this link https://cloud.google.com/appengine/docs/go/memcache/ , still pointing to `appengine/*` package , even these have been moved to `"google.golang.org/appengine/*` . This is really misleading for those who are new to the platform . Can there be a update in the docs ?

[2015-09-04 06:37] broady commented on #168
Assigning to myself to make sure I follow up.

If someone else wants to work on this, feel free to re-assign.

[2015-09-04 16:53] gmlewis commented on #78
I've actually had a local working version of cloud/storage that uses resumable uploads and an example app that uses it, but to be honest, I haven't had the time to productionize it... write unit tests, integration tests, etc.

The update that @bradfitz pointed to will change the API, so I should probably hold off sharing my experimental changes.  Contact me directly, though, if you want to see my

[2015-09-15 06:03] #165 closed

[2015-09-15 10:08] hsinhoyeh opened #170 "[bigtable] bttest needs UpdateColumnFamily support"
hi

we need the function supported in bttest
google.golang.org/cloud/bigtable/bttest/inmem.go
[code]

we need it because we call SetGCPolicy to configure the maximum versions stored in a cell
[code]
and in the underlying implementation, it will first call GetTable and then update its column family.
[code]
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/admin.go#L161

[2015-09-15 16:48] hsinhoyeh commented on #170
hi,
I think I have fixed this (#170) and #166. you can see more in below.
you can purify my CL and push to the repo or I can create a RP if you think the CL is ok
[code]

[2015-09-16 02:49] IanLewis commented on #170
Thanks for looking into this. Packaging this up into a pull request so it could be reviewed and merged would be helpful.

[2015-09-16 16:52] #147 closed

[2015-09-17 00:42] broady opened #171 "cloud/container package does not build"
`container.go:27:2: cannot find package "google.golang.org/api/container/v1beta1"`

Looks like it's just `v1` now.

@bradfitz FYI.

[2015-09-17 01:09] rakyll commented on #171
Container Engine deprecated the v1beta1 as they became a GA product a month ago.

[2015-09-17 04:05] laco0416 opened #172 "cloud/storage is changed?"
My app's build is failed.

`undefined: "google.golang.org/cloud/storage".NewWriter`

Breaking changed?

[2015-09-17 04:06] laco0416 opened #173 "CI failed in master branch"
CI status is error.

https://travis-ci.org/GoogleCloudPlatform/gcloud-golang

Please keep `master` branch ALWAYS green.

[2015-09-17 04:16] vvakame commented on #173
Our product can't build now...
We use appengine/go.
appengine/go is go 1.4, not go 1.5.
1.4 not supported vendor directory...

[2015-09-17 05:14] broady commented on #173
dupe of #171

[2015-09-17 05:14] #173 closed

[2015-09-17 05:18] broady commented on #172
Yes, we're in the process of making breaking changes to the `storage` package.

I've reverted it for now, since there's one tweak that needs to be made.

[2015-09-17 17:26] rakyll opened #174 "all: can't go get the package"
The examples are broken, the cloud package is not go gettable.
[code]

[2015-09-17 17:58] gmlewis commented on #174
Chris and I need to look at this.  Sorry for the breakage.

[2015-09-17 18:25] #172 closed

[2015-09-17 18:33] #174 closed

[2015-09-17 18:33] broady commented on #174
#171 is tracking the remaining package that does not build

[2015-09-17 18:34] broady commented on #174
[code]

[2015-09-17 18:41] #171 closed

[2015-09-17 23:58] okdave opened #175 "storage.Writer should allow object to be cancelled"
Per golang/go#12671, a developer should be able to cancel an object partway through writing it if something goes wrong.

Possible APIs include adding an `Abort` or `Cancel` method, or respecting the done channel on the provided `context.Context`.

@broady Do you want to look at this as part of your refactoring work? Or happy for me to look right away?

[2015-09-18 00:02] broady commented on #175
context.Done sounds perfect for that.

you can certainly look right away, don't think the refactoring affects this very much.

I think an explicit Abort/Cancel method would be nice, too.

[2015-09-18 00:21] okdave commented on #175
@bradfitz any suggestions on how to handle this for 1.4 (if at all)? It seems if I use `Transport.CancelRequest` there's a race which might trigger if the request isn't inflight yet. How does the net/http library handle the request's `Body` returning an error?

[2015-09-18 00:28] bradfitz commented on #175
For 1.4, just use CancelRequest. You could delay the CancelRequest call for N milliseconds if you want. I wouldn't care much about making 1.4 perfect.

Yeah, (if I interpret your question correctly), that's a good idea. Create an io.Reader that returns an error if the context is done, else delegates to the underlying reader. The http client when writing the request will then see the error and clos

[2015-09-19 03:39] bradfitz commented on #175
For the log here, I added a CloseWithError because I urgently needed it for the Go builders:
https://code-review.googlesource.com/#/c/3480/

I'm pretty sure we want to keep it, but I'm open to changing it if anybody has better API ideas.

I still think we should also do the context thing, but I'm open to not doing it if people think CloseWithError is sufficient.

[2015-09-19 08:36] hsinhoyeh commented on #170
thanks @IanLewis @dsymonds, btw the change list is here: https://code-review.googlesource.com/3471.

[2015-09-21 21:46] broady commented on #135
You can track the change here:
https://code-review.googlesource.com/#/c/3400/

[2015-09-23 00:36] #166 closed

[2015-09-23 00:36] #170 closed

[2015-09-23 01:05] hsinhoyeh opened #176 "[bigtable] simulate GC policy in bttest"
@dsymonds per code review comments, you mentioned that you will think a good way to simulate GC policy.
this issue is used to track that status. have it closed if you think it is done.

[2015-09-23 01:37] dsymonds commented on #176
Yep, I've been thinking about it. I'll take care of this.

[2015-09-23 05:09] okdave commented on #175
I'm pursuing the context thing more generally anyway for the generated APIs, so I think storage will get that for free regardless (I'll write an integration test once it's all wired up to be sure).

I like the `CloseWithError` but I wonder if something like `Cancelled` (which takes no error) might be cleaner. What does the error passed into that func achieve right now – can it provide a useful sig

[2015-09-28 21:43] christopherhesse commented on #119
@bradfitz Any chance you could post the pre-release version somewhere so I can base my work off of the future gcloud logging package rather than writing my own?

[2015-09-28 21:51] rakyll commented on #119
There is a CL, about to be finalized at https://code-review.googlesource.com/#/c/2650/.

[2015-09-28 22:41] #176 closed

[2015-09-28 23:53] christopherhesse commented on #119
Awesome, thanks!

[2015-09-29 00:04] okdave commented on #175
@bradfitz do you have a strong opinion on `Cancel` vs. `CloseWithError`?

[2015-09-29 01:21] bradfitz commented on #175
If the question is `Cancel(error)` vs `CloseWithError(error)` then I'd prefer `CloseWithError` for consistency with the standard library.

If the question is `Cancel()` vs `CloseWithError(error)`, then I don't care too much either way.

[2015-09-29 04:10] hsinhoyeh commented on #176
thanks for fixing that.
I think there is a case that the current impl cannot handle: caller calls Read but GC is not triggered yet.
We still need to apply gc policy in the Read operations, or we need to apply filter (like lastNFilter) in client side.
how do you think about that?
btw, do you have documentations on how bigtable handle gc policy? thanks

[2015-09-29 04:38] dsymonds commented on #176
This is an accurate simulation in that regard. In production, GC policy is _not_ applied on reads, so if you require that then you need to handle that manually. GC will only happen periodically (maybe hours or days afterwards). This is mentioned in the `SetGCPolicy` docs (https://godoc.org/google.golang.org/cloud/bigtable#AdminClient.SetGCPolicy), though perhaps not as explicitly as it could be.

[2015-09-29 05:09] hsinhoyeh commented on #176
maybe we can update docs in detail.

Right now we use SetGCPolicy in server side and apply LatestNFilter in client side. It works.
thanks

[2015-09-29 15:53] bradfitz commented on #119
It is now submitted:
https://godoc.org/google.golang.org/cloud/logging

[2015-09-29 15:54] bradfitz commented on #119
I lack permissions to close this bug.

[2015-09-29 16:04] #119 closed

[2015-10-01 07:04] hsinhoyeh opened #177 "bigtable/bttest: make data stateful"
Hi,
[this is feature proposal on bttest]

bttest implements table in memory,
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/bttest/inmem.go#L653
which works pretty well and fast.
Storing things in modern machines are not a problem, but we will lose them once we restart bttest server.

If we keep data in disk, here are pros and cons that I can merely think of:
Pros:
the d

[2015-10-02 18:18] ImJasonH opened #178 "Convenience method for polling for operation completion"
It's very common to start a GCE operation and poll for completion of the operation. It would be nice if the gcloud library could include a standard "correct" implementation of this polling, including adding a jitter to the sleep polling duartion and using ETags now that [google-api-golang-client supports ETags](https://github.com/google/google-api-go-client/commit/7f3774db0aa426a2390fa9abcccbc272d

[2015-10-02 19:33] bradfitz commented on #178
I think both parameters could probably go away. Too easy to transpose them if they have the same type anyway.

sleep can be automatic.

timeout can be done via a context or selecting on a returned channel.

Or we can do a variadic CloudOption sort of thing for extra options.

But whatever we do, I don't think we need two durations.

/cc @okdave

[2015-10-02 19:35] ImJasonH commented on #178
That's a good point. `WaitForOp(op)` is even better.

[2015-10-03 16:56] jonnenauha opened #179 "storage: Frequent 500 Backend Error"
I have a build bot that has been uploading go/js projects to S3. I want to move the deployments to gcloud storage due to http2 and other nice things you bring in.

The deployments are 100-400 files at a time depending on the project. Size would be ~5-8mb in total, so usually lots of small gzip compressed files. For publicly visible libs (js/html/css) that get included from web pages I gzip all dat

[2015-10-03 18:19] jonnenauha commented on #179
I implemented max 3 re-upload attempts per failed file. It does hit quite regularly still but the reuploads are successful. First build I spinned up with the new logic had total of 6 re-uploads but succeeded. Now that I'm confident the files will eventually get there, I pumped parallel uploads to 10, which has a big impact on the total upload time.

I think my questions are still valid
* Should th

[2015-10-05 16:53] gmlewis commented on #179
Can you please privately email me the full name of the bucket you are sending the files to so that I can have Google Cloud Storage engineers investigate the logs and see if they can find any problems on their side?

[2015-10-07 02:14] dsymonds commented on #177
I don't think that's a direction that bttest is going to take. It's always been an in-memory fake simulation. It isn't intended for actual use, only for testing.

[2015-10-07 02:14] #177 closed

[2015-10-09 21:01] gmlewis opened #180 "logging_test.go is failing in Travis CI build"
https://travis-ci.org/GoogleCloudPlatform/gcloud-golang/jobs/83821280

[code]

/cc @bradfitz - if I run it locally, it passes, but the Travis CI tests fail - do you have time to investigate?

[2015-10-09 21:31] bradfitz commented on #180
Sent https://code-review.googlesource.com/3580

[2015-10-09 22:27] #180 closed

[2015-10-19 06:29] hsinhoyeh opened #181 "bigtable/bttest: column family does not be checked in ReadModifyWrite"
hi,

in mutaterow, bttest will check the existance of a column family.
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/bttest/inmem.go#L468
[code]

however, we haven't saw such check in ReadModifyWrite
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/bttest/inmem.go#L601

[code]
which means we allow ReadModifyWrite to operate on a non-existing col

[2015-10-20 03:07] dsymonds commented on #181
It's just an oversight.

[2015-10-20 03:34] #181 closed

[2015-10-20 07:28] hsinhoyeh commented on #181
thanks

[2015-10-22 04:16] GoesToEleven commented on #118
On your imports ... you don't want this:

	"google.golang.org/appengine"
	"google.golang.org/cloud/datastore"

You want this:

	"google.golang.org/appengine"
	"google.golang.org/appengine/datastore"

[2015-10-23 00:22] christopherhesse opened #182 "pubsub docs for PullWait might be inaccurate"
For the pubsub.PullWait docs here: https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/pubsub/pubsub.go#L225

"PullWait pulls messages from the subscription. If there are not enough messages left in the subscription queue, it will block until at least n number of messages arrive or timeout occurs, and n could not be larger than 100."

If I'm reading https://cloud.google.com/pubsub/ref

[2015-10-23 03:04] mcgreevy commented on #182
Yes, that doc comment is inaccurate.  I am doing some cleanup work on this API at the moment, and plan to address this as part of that.

You are correct that PullWait does not wait for n messages before returning.

The API does not limit the number of messages that can be requested, but the API may always return fewer messages than requested.  The client Go pubsub client library enforces a limit o

[2015-10-23 05:52] christopherhesse commented on #182
Cool, thanks for letting me know!

For the initial behavior of PullWait(): I'm not sure what I'm doing wrong here.  I made two smaller test programs, "subscribe.go" and "publish.go".  I run the subscriber, which calls PullWait() then run the publisher which just publishes a message.  The first message has a delay of about 60 seconds, but subsequent messages have a very short delay (< 1 second).  A

[2015-10-23 05:57] christopherhesse commented on #182
The log from subscribe.go looks like this:

2015/10/22 22:55:20 poll
2015/10/22 22:56:22 got msg=test message: 2015-10-22 22:55:21.587426002 -0700 PDT
2015/10/22 22:56:23 acked message
2015/10/22 22:56:24 poll

What's interesting is that it *is* returned from the first call to PullWait(), it just takes the full timeout time.
There's a 1 minute difference between when the message was published and

[2015-10-28 18:33] smreed opened #183 "bigtable: Table.ReadRows with context.Background leaks goroutines"
Using the latest go-grpc code (https://github.com/grpc/grpc-go/commit/1f1a4999ca75ba4fd6d5c91233383a170034a1a5), every call to `Table.ReadRows(context.Background(), ...` will leak a goroutine.

grpc recently added a goroutine for every client stream that waits on the supplied context's `Done` channel.

`ReadRows` wraps the given `context.Context` with cancel, but only calls it if the `func(Row)` r

[2015-10-28 21:04] dsymonds commented on #183
It's something we can work around in the bigtable code, but it sounds like a bug in grpc. The bigtable code either cancels the context (if it wants to stop the stream short), or reads to the end of the RPC stream (`io.EOF` or some other error).

@iamqizhao

[2015-10-28 21:08] smreed commented on #183
According to the `context.Context` doc, "Canceling this context releases resources associated with it, so code should call cancel as soon as the operations running in this Context complete."

I believe the context created inside of `ReadRows` should always call `cancel()` before returning.

I tested adding a `defer cancel()` to the line below where the context is created and it seemed to work well

[2015-10-28 21:32] dsymonds commented on #183
Yes, but if anything that's an optimisation. There shouldn't be a goroutine leak if we don't do that.

An alternate way to look at it: In the situations where we *don't* call `cancel`, the RPC is unequivocally finished. Why is gRPC keeping a dangling goroutine around in that case?

[2015-10-28 21:36] smreed commented on #183
Agreed, receiving on a channel that can sometimes be `nil` is dangerous.

I had actually filed this originally (and accidentally) against go-grpc at https://github.com/grpc/grpc-go/issues/416.

For now I'm using a workaround of wrapping all of my `Context`s with cancel, and cancelling them after `ReadRows`. It only affected a few uses, most others are already using deadlines and those are fine.

[2015-10-28 21:41] iamqizhao commented on #183
Can I request a reproduce to have a close look? gRPC should cancel the
context once the corresponding stream is done.

On Wed, Oct 28, 2015 at 2:32 PM, David Symonds <notifications@github.com>
wrote:

[2015-10-28 21:42] iamqizhao commented on #183
To be clear, there is no issue in grpc/grpc-go#416
<https://github.com/grpc/grpc-go/issues/416> which has been closed.

On Wed, Oct 28, 2015 at 2:41 PM, Qi Zhao <toqizhao@gmail.com> wrote:

[2015-10-28 22:20] #183 closed

[2015-10-29 18:13] iamqizhao commented on #183
should be fixed by https://github.com/grpc/grpc-go/pull/418. It was due to
a a former optimization which was not applied when this new goroutine is
added.

On Wed, Oct 28, 2015 at 3:20 PM, David Symonds <notifications@github.com>
wrote:

[2015-11-03 16:23] hsinhoyeh opened #184 "bigtable/bttest: need support of FamilyNameRegexFilter"
hi,

we use filters to a specific family name and column name,
FamilyFilter(https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/filter.go#L99 ) and ColumnFilter (https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/filter.go#L112) are used in our case.

however, bttest doesn't support FamilyFilter, here is logs we got:
[code]
https://github.com/GoogleClou

[2015-11-03 23:29] #184 closed

[2015-11-04 10:35] sairahu commented on #182
Just to add to this, there is a similar mistake in the comments for Pull() https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/pubsub/pubsub.go#L216

[2015-11-05 04:04] tartavull commented on #151
in the commit you made you wrote:
[code]
Should'nt this be? :
[code]

[2015-11-05 04:07] dsymonds commented on #151
You're right. Thanks. I'll fix that.

[2015-11-05 04:26] #151 closed

[2015-11-05 04:37] tartavull commented on #151
Allthough I follow this code and I get:

Error applying ReadModifyWrite to row
rpc error: code = 2 desc = "grpc: the client connection is closing"

Any ideas of what might I be doing wrong?

[2015-11-05 04:41] dsymonds commented on #151
Sorry, that's a different error entirely. Check you've got an up-to-date grpc and any other dependencies.

[2015-11-05 04:47] tartavull commented on #151
Thanks, I've just figure it out.
I was adapting the hello-world bigTable example to use bttest. And when the bigTable Admin  Client is close, it shutdowns the connection. So you have to create a new connection for the new bigTable Client.
I wasn't obvious for me that I had to do this from the documentation.

[2015-11-09 05:29] okdave opened #186 "datastore should make transaction retries easier"
At the moment, doing transactions correctly is much harder in this API than in the equivalent [App Engine package](https://godoc.org/google.golang.org/appengine/datastore#RunInTransaction) because there's no support provided by the package for retries, correct rollback logic, etc.

[2015-11-16 04:41] cnbuff410 opened #187 "GeoPoint can not be loaded from datastore"
If the defined struct has fields of type appengine.GeoPoint, "get" method will give the error message as follows:

datastore: cannot load field "Values" into a "main.LocationList": no such struct field

And all the GeoPoint data are not loaded.

Is it supported by this package? If not, any quick workaround for this?

[2015-11-16 19:48] sbaileyms opened #188 "storage: support generation preconditions"
This makes it impossible to do optimistic concurrency through the storage API. I could use the lower level JsON go wrapper but that's a more complex API.

[2015-11-16 23:49] okdave commented on #187
Unfortunately, GeoPoint is currently not available in the current datastore API. We're awaiting a new version of the API which will support it correctly.

See #46 which is tracking this.

[2015-11-16 23:49] #187 closed

[2015-11-17 04:19] cnbuff410 commented on #46
Is there a ETA for the new API? Looks like 1 year past and no news on it yet?

[2015-11-17 19:30] 4shome opened #189 "bigquery: no streaming api to load data from memory"
Both the python / java version have this api..
This force me to use https://github.com/google/google-api-go-client, which looks ugly.
Which library do you expect people to use?

[2015-11-18 02:23] okdave commented on #46
@pcostell do you have an update on timing?

[2015-11-18 03:23] tartavull opened #190 "bttest ReadRows interval"
https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/bigtable/bttest/inmem.go#L250

Shouldn't   `ei` be `ei - 1` ?

[2015-11-18 18:17] pcostell commented on #46
Sorry, I don't have a great answer here. As we were working on the new API
we decided to also redo the infrastructure supporting the API to reduce
latency and improve a number of outstanding issues with the existing API.

My best answer is soon. We are getting closer to launch but want to make
sure the new system works well before releasing it.

On Tue, Nov 17, 2015 at 6:23 PM Dave <notifications@

[2015-11-30 03:02] dsymonds commented on #190
`start`/`end` is a half-open interval, which means that `end` should be excluded. That line computing `ei` is finding the first index `>= end` as part of computing the half-open index interval `si`/`ei`, so it's correct as is.

[2015-11-30 03:02] #190 closed

[2015-11-30 07:38] suau opened #191 "cloud storage preconditions missing"
There is no way to include preconditions when creating/updating an object in the golang library.
This seems crucial for not accidentally overwriting data.

It is available for the Java client library (I couldn't find the proper page for general Preconditions anymore):
https://cloud.google.com/storage/docs/object-versioning#_ConditionalUpdate

[2015-11-30 15:00] sbaileyms commented on #191
You can do it by also including the storage/API/v1 package (label it rawStorage) and the use the Patch function.

[2015-11-30 15:32] suau commented on #191
Thanks for the tip! I'm wondering what are the plans/use cases for these 2 client libraries ? I looked into both and both seem to use http, just one with protobuf the other with json. (I mistakenly assumed the cloud package one would use direct RPC like the appengine/datastore).

[2015-12-04 02:50] okdave commented on #186
Fixed in commit 2bec3f8f.

[2015-12-04 02:50] #186 closed

[2015-12-04 02:51] okdave commented on #191
This is a duplicate of #188.

[2015-12-04 02:51] #191 closed

[2015-12-04 03:22] okdave commented on #127
Fixed in b467501b

[2015-12-04 03:22] okdave commented on #129
Fixed in b467501b

[2015-12-04 03:22] #129 closed

[2015-12-04 06:26] okdave commented on #113
This work was started in b467501b

[2015-12-04 15:49] rsc commented on #114
This is fixed in Go 1.5. Running the benchmark program below:

	$ for i in $(seq 10); do GOMAXPROCS=4 go1.4 test -bench . x_test.go; done >old.txt
	$ for i in $(seq 10); do go1.5 test -bench . x_test.go; done >new.txt
	$ benchstat old.txt new.txt
	name         old time/op  new time/op  delta
	SignedURL-4   166ms ± 4%     5ms ± 4%  -97.11%  (p=0.000 n=10+10)
	$

Of course, Go 1.5 is not yet availab

[2015-12-04 16:02] derekperkins commented on #114
Awesome!! Without getting too deep into the code, I was hoping that the CloudFlare SSL optimizations were going to fix this. Thanks!

[2015-12-04 16:02] #114 closed

[2015-12-04 16:32] dustin opened #192 "storage.NewClient requires Scope to be usable"
This doesn't seem to be mentioned in the docs and is not shown in the examples, but if a scope is not included somehow in the `storage.NewClient` call, it fails `API error 9 (app_identity_service: UNKNOWN_SCOPE)`.

Running the AppEngine example code produces the same results.

The documented example shows the scope being passed in via `cloud.WithTokenSource` which won't apply to AppEngine usage.

[2015-12-04 16:54] bradfitz commented on #192
/cc @broady @okdave @rakyll

[2015-12-04 20:38] #192 closed

[2015-12-04 20:40] dustin commented on #192
Thanks!

On Fri, Dec 4, 2015 at 12:38 PM Chris Broadfoot <notifications@github.com>
wrote:

[2015-12-04 20:46] broady commented on #192
Oddly enough, even without the default scope being set, the integration test ran successfully. Perhaps there's something else going on with the service accounts?

[2015-12-04 20:57] dustin commented on #192
It definitely didn't work for me.  I'm not sure what the difference is.
It's possible I was picking up some older appengine code.  I had just
downloaded the latest sdk, and statting around, I don't see anything older
than a couple of days ago in $GOPATH/src/google.golang.org

On Fri, Dec 4, 2015 at 12:47 PM Chris Broadfoot <notifications@github.com>
wrote:

[2015-12-04 23:11] broady commented on #192
oh, I meant *outside* of App Engine, everything works, but I would not expect it to.

[2015-12-04 23:14] dustin commented on #192
Oh, ha.  Yeah, I've only used inside so far.  I've got more use cases now
that I've started using Cloud Storage, though.

For this particular thing, we're collecting breakpad crashes in the wild.
I'm probably going to end up storing symbol tables out of the builders
(possibly directly to Cloud Storage) as well as needing to run analysis.

On Fri, Dec 4, 2015 at 3:11 PM Chris Broadfoot <notificatio

[2015-12-05 15:58] albertog opened #193 "undefined appengine.Main()"
appear a error undefined appengine.Main()  OS linux.
with old init()  system work properly

import (
	"fmt"
	"net/http"

	"github.com/golang/protobuf/proto"
	"google.golang.org/appengine"
)

func main() {
	http.HandleFunc("/xhr/get", getest)
	http.HandleFunc("/xhr/put", putest)

	appengine.Main()
}

[2015-12-05 16:01] #193 closed

[2015-12-06 20:53] dsymonds commented on #137
Please open new issues for any specific filters in the proto that you'd like supported.

[2015-12-06 20:53] #137 closed

[2015-12-08 05:33] #158 closed

[2015-12-08 22:28] Carrotman42 opened #194 "metadata.OnGCE is flaky"
The implementation of OnGCE does an http.Get to "http://metadata.google.internal" using a client that has timeouts set to 750ms. Sometimes (I can repro semi-consistently when running inside a docker container) the func returns false, presumably due to timing out.

OnGCE also caches its result, so there's no way to retry. A workaround is to invent my own OnGCE func with longer timeouts, but I'd lik

[2015-12-08 23:10] bradfitz commented on #194
I don't like any solution I can think of.

The answer certainly isn't raising the timeout. The timeout is already too high. It exists to not slow down non-GCE users who might have a blackholed route to that IP.

Retrying sucks. That implies it's possible for one call to OnGCE to say false and a subsequent call to return true. No program should have to think about such a case. And it's unacceptable

[2015-12-09 00:17] Carrotman42 commented on #194
Does the code actually need to verify that the header response contains "Metadata-Flavor: Google" to be correct? If not, can we just rely on DNS resolution on "metadata.google.internal"?

The VM is not overloaded and is an n1-standard-1. I'm not certain why the metadata server is being slow, but it definitely is: I'm seeing i/o timeouts on normal metadata Get requests as well.

[2015-12-09 00:30] derekperkins commented on #194
I'm seeing > 10% of requests in a day timeout.

[2015-12-09 00:33] derekperkins commented on #194
To be a littler clearer, it's using `github.com/golang/oauth/google.DefaultTokenSource` on a Managed VM that often times out for us, which is hitting the metadata server.

[2015-12-09 12:18] patrickToca commented on #118
Trying the demo "google.golang.org/cloud/examples/storage/appengine".
I receive the following message:
"2015/12/09 12:08:48 createFile: unable to write data to bucket "xxxxx.appspot.com", file "demo-testfile-go": Post https://www.googleap
is.com/upload/storage/v1/b/xxxxx.appspot.com/o?alt=json&projection=full&uploadType=multipart: not an App Engine context".

My code is:
imports:
         "golang.

[2015-12-09 12:35] ernestoalejo commented on #118
[code]

[2015-12-09 13:00] patrickToca commented on #118
@ernestoalejo Thanks. Is there a complete example that simply works (with useful comments 'how to')?

[2015-12-09 13:15] ernestoalejo commented on #118
There is an example here, though it is not a walkthrough:
https://github.com/GoogleCloudPlatform/gcloud-golang/tree/master/examples

[2015-12-09 13:36] patrickToca commented on #118
Hi Ernesto.

this is exactly the one I cannot run this morning.

I will start over tomorrow with clearer mind.

Thanks.

Patrick

On 09/12/2015 13:15, Ernesto Alejo wrote:

--

[2015-12-15 00:32] derekperkins opened #195 "storage: Refactor causes classic GAE to not compile"
I updated this package and the new storage refactor is causing my classic App Engine app to not compile, due to Go 1.5 incompatibility.

[code]

[2015-12-15 00:35] broady commented on #195
@bradfitz @dsymonds @okdave

Did something change in the past ~ week? I ran a sample on App Engine just fine about a week ago.

[2015-12-15 00:35] bradfitz commented on #195
Update golang.org/x/net/http2. The bug breaking Go 1.4 users was fixed ~90 minutes after it was introduced.

[2015-12-15 00:35] #195 closed

[2015-12-15 00:49] derekperkins commented on #195
That fixed it. Thanks for the tip!

[2015-12-15 00:52] bradfitz commented on #195
Sorry for the breakage. I forgot Request.Cancel was added so recently.

[2015-12-15 05:21] #113 closed

[2015-12-15 05:52] okdave commented on #111
Coming back to this after a long hiatus.

The storage docs now have [thorough descriptions for valid naming](https://cloud.google.com/storage/docs/bucket-naming). I'll add the highlights to this API and link out for the full reference.

@mcgreevy and I had a chat about the feasibility of doing this in the underlying generated APIs more generally. That looks like it will add a lot of complexity, un

[2015-12-15 08:11] jacobsa commented on #111
Thanks, David!

[2015-12-16 06:12] okdave opened #196 "storage: bad object names (and other values) return confusing errors"
For example, an empty object name fails `Writer.Close` with `googleapi: Error 400: Required, required`.
An object name containing a new line fails with `googleapi: Error 400: Invalid Value, invalid`

These errors are really confusing and do not point to which part of the request was malformed.

Found while fixing #111

[2015-12-16 07:46] Adori commented on #78
@rakyll @bradfitz @gmlewis @okdave
Has this issue been resolved? We are facing a roadblock in our process (all in Go), and if we can't handle larger than 10MB, we will have to do an enormous amount of (unnecessary) rewriting (for e.g. Java) to go around this issue. Also add 'handling' overhead to deal with two implementation stacks in GCP. Can you provide an update?
cc: @Karthic-Hackintosh

[2015-12-17 10:21] mcgreevy commented on #78
I'm sorry that this issue is getting in your way.  It's clearly important that this be fixed and I am working on it at the moment.  Taking into account downtime over the upcoming holiday period, I estimate it will be finished some time in the first two weeks of January.

[2015-12-17 10:52] Adori commented on #78
@mcgreevy Thank you for responding promptly, and giving us an update on this. We really appreciate that you are working on resolving this. However, we have a our alpha coming out in January, we are not sure how to now to get this done in time. Our current status is that we have completed building our codebase (GO), with 3 critical media (file) pipelines that use this (ResuableObjectWriter), but ha

[2015-12-17 15:23] mpl opened #197 "storage: list bucket objects after marker"
The XML API has https://cloud.google.com/storage/docs/reference-headers#marker , which is really convenient when one wants to enumerate on a bucket with many objects, and skip all the objects before that marker.

I understand this feature is not transparently present in the storage package because (I think) it is based on the JSON API, which does not seem to have that marker feature.

So first of

[2015-12-17 15:23] mpl commented on #197
Cc @bradfitz

[2015-12-17 15:41] bradfitz commented on #197
FWIW, this is preventing us from migrating Camlistore away from our own (old) Cloud Storage package to the official one.

/cc @rakyll @okdave

[2015-12-17 23:51] okdave commented on #78
@Adori in your use case, do you know the final size of the object when you begin uploading it? Are you able to represent the incoming data as a `io.ReaderAt`, or is seeking impossible in your use case?

[2015-12-17 23:56] okdave commented on #78
Also, in case we can't address this in time for your launch, do you think [composite objects](https://cloud.google.com/storage/docs/composite-objects) would be able to help in your case? That would let you upload separate object chunks (in parallel even), and compose them into a single object for your users.

[2015-12-18 00:15] derekperkins commented on #146
I'd really love to be able to use this with the storage package.

[2015-12-18 00:23] derekperkins commented on #78
Is there a chance that #146 will be implemented soon?

[2015-12-18 00:35] okdave commented on #78
It's definitely on my radar, yes.

[2015-12-18 00:52] #111 closed

[2015-12-18 02:37] okdave commented on #146
At first glance this looks straightforward. I want to be able to make sure that it can support the generation-matching precondition, or at least that the API will extend to that use case. So it might be worth working out a good solution to #188 first.

[2015-12-18 06:10] Adori commented on #78
@okdave Thanks again for the suggestions. Unfortunately, while we know final size of object, our use case does it make impossible to seek. Composite Objects maybe an option (assuming you mean write under 10MB objects in GCS to avoid current problem, and then compose them into one single object). However, reluctant to do explore this as this will break other parts of our process which involves some

[2015-12-18 09:01] #159 closed

[2015-12-18 18:27] mikedanese opened #198 "logging: ping isn't rejecting missconfigured requests"
This integration test would fail currently:
[code]

[2015-12-18 21:57] okdave commented on #78
@Adori we should have something to share early next week.

[2015-12-19 00:15] derekperkins commented on #78
@okdave something for ResumableObjectWriter or for composite objects?

[2015-12-19 00:17] derekperkins commented on #78
He says as he sits down to write a composite function. :)

[2015-12-20 07:32] Adori commented on #78
@okdave Thanks and we await with bated breath! :-))

[2015-12-21 03:29] okdave commented on #78
So, there are two pending patches which will bring this into the veneer library. Both are still experimental, so the API is subject to change.

One is a fix the underlying generated API:
https://code-review.googlesource.com/#/c/3930/
And the other is to expose to this through API:
https://code-review.googlesource.com/#/c/3931/

(You'll need to patch the first into `$GOPATH/src/google.golang.org/ap

[2015-12-21 05:35] #155 closed

[2015-12-24 16:50] bradfitz commented on #197
We're putting our cloud storage helper functions in https://godoc.org/go4.org/cloud/google/gcsutil for now, until the official package can do it.

/cc @okdave

[2015-12-24 16:52] bradfitz opened #199 "storage: no way to fetch object's content & size in one HTTP request"
Migrating Camlistore to the official google.golang.org/cloud/storage package (away from our own old package), we found that there's no way to get a Reader of the contents of an object and its metadata (specifically its size, but also content-type) in one HTTP request.

I think instead of returning an interface here:
https://godoc.org/google.golang.org/cloud/storage#ObjectHandle.NewReader

... it s

[2015-12-24 16:53] bradfitz commented on #199
/cc @broady

[2015-12-24 16:53] bradfitz commented on #197
/cc @broady

[2015-12-24 16:54] bradfitz commented on #199
For now we'll put our own implementation of `NewReader` in https://godoc.org/go4.org/cloud/google/gcsutil for now, until the official package can do it.

[2015-12-27 04:52] kidoman opened #200 "pubsub: cancelling a PullWait"
Looking at the generated APIs, it looks like calling the `Context()` method of the underlying `ProjectsSubscriptionsPullCall` would do the right thing (by internally using `ctxhttp.Do`).

What is the recommended approach to cancelling a `PullWait` currently?

[2015-12-27 06:05] kidoman commented on #200
After looking at the other clients, it seems that adding a `Context(ctx)` on the returned `ProjectsSubscriptionsPullCall` would do the trick

[2015-12-29 04:20] bradfitz opened #201 "datastore: ScopeUserEmail documentation"
The docs at https://godoc.org/google.golang.org/cloud/datastore say:

[code]

Whose email?

And which scope do I want? Both?

[2016-01-02 05:55] christopherhesse commented on #182
A quick note to anyone trying to configure the timeout on PullWait:

According to the docs at https://cloud.google.com/pubsub/reference/rest/v1/projects.subscriptions/pull "The client may cancel the request if it does not wish to wait any longer for the response."

Using context.Context, this seems to work:

		url := fmt.Sprintf("https://pubsub.googleapis.com/v1/projects/%s/subscriptions/%s:pull",

[2016-01-04 19:12] christopherhesse commented on #182
It looks like someone figured out the proper fix for that over here: https://github.com/GoogleCloudPlatform/gcloud-golang/issues/200

[2016-01-05 02:02] okdave opened #202 "Don't use build tags to control running integration tests."
As per @bradfitz

Currently, we mark run integration tests with `// +build integration`, and make them hard fail if the environment variables `GCLOUD_TESTS_GOLANG_PROJECT_ID` and `GCLOUD_TESTS_GOLANG_KEY` are not set.

Instead, we could drop the build tag and just skip integration tests if the environment is not set up correctly.

[2016-01-05 03:37] okdave commented on #168
This is fixed. @broady please reopen if anything was still outstanding.

[2016-01-05 03:37] #168 closed

[2016-01-06 13:18] fd opened #203 "logging: Is there a way to capture HTTP request data?"
Is there a way to capture HTTP request data and have it show up like the appengine request log?

[2016-01-06 16:37] bradfitz commented on #203
Read http.Request.Body from your Handler and log it?

[2016-01-06 16:45] derekperkins commented on #203
@fd: There's no way to group the way that App Engine does. IMO, that's one of the most valuable features of GAE and the one I'd like to see duplicated with this package.

[2016-01-07 05:57] okdave commented on #197
@mpl the `Cursor` in `Query` is the opaque token received back from the list request (the JSON API calls it `pageToken`), so it's not really possible to modify or create one of those tokens at the moment.

I'm chasing up with the team responsible for the JSON API to try to find out why it's only available in XML. I'd want to think very carefully about mixing+matching JSON and XML in this package,

[2016-01-11 22:54] broady commented on #199
https://code-review.googlesource.com/3977

[2016-01-12 05:06] okdave commented on #179
@jonnenauha Are you still experiencing this problem? I haven't been able to repro the results you were seeing.

[2016-01-12 22:23] #199 closed

[2016-01-14 08:51] derekperkins commented on #188
:+1: so that #146 can happen

[2016-01-14 10:03] jonnenauha commented on #179
I think it does still happen occasionally, if it does its in the log files that we dont really look at if no build failures happen.

I implemented upload retry with a bit of backoff between tries. If it fails 3 times it will fail the whole build, but I don't think has ever happened since I did the retry logic.

So you can close this if you wish, nothing really actionable on my "bug report". I supp

[2016-01-17 07:01] bradfitz opened #204 "storage: documentation error on ObjectHandle.NewWriter"
"specified name" is an old artifact. It's now part of o.

[2016-01-18 00:08] okdave commented on #204
I'm fixing NewWriter a bit more broadly in https://code-review.googlesource.com/#/c/4024/ – does the updated comment there look okay?

[2016-01-18 04:50] #202 closed

[2016-01-18 04:50] #204 closed

[2016-01-21 23:55] dlorenc opened #205 "datastore: Support the DATASTORE_HOST environment variable"
Other GCP client libraries support the DATASTORE_HOST environment variable for overriding the address of the datastore instance to connect to, which is particularly useful for connecting to a local instance of the datastore emulator for testing.

See here for how the python library handles this:
https://github.com/GoogleCloudPlatform/gcloud-python/blob/896044579b5dfaddb75e8c7cbf72b614b0d04c5e/gclo

[2016-01-21 23:57] dlorenc opened #206 "pubsub: Support the PUBSUB_HOST environment variable"
Similar to #205, but for Pub Sub.
Other GCP client libraries support the PUBSUB_HOST environment variable for overriding the address of the pubsub instance to connect to, which is particularly useful for connecting to a local instance of the pubsub emulator for testing.

See here for how the node library handles this:
https://github.com/GoogleCloudPlatform/gcloud-node/blob/36a9f5c931a8d5f6fa566205

[2016-01-21 23:58] broady commented on #205
https://code-review.googlesource.com/#/c/3350/

[2016-01-21 23:59] broady commented on #205
@okdave can you take another look at that CL? I think the pending question was about that sentinel value

[2016-01-22 13:37] nightlyone opened #207 "bigquery: add Options for allowLargeResult and to suppress result flattening"
In order to condense larger source data after import (e.g. suppress duplicates in order to simulate unique constraints not supported in bigquery schemas), I usually run a query like:
[code]
and write the result into a table. This is currently not possible without those two missing options.

Could they be added? If I would like to do it myself, is an implementation like in https://github.com/Google

[2016-01-22 13:53] nightlyone commented on #207
It could be naively implemented like:
[code]

[2016-01-29 15:02] reagere opened #208 "bigtable: rowkey support only string and it is not compatible with Java HBase driver"
Hello,

I made a modification in bigtable.go so it can support any rowkey format, not only String.
The representation is hexadecimal.

Check @ https://github.com/reagere/gcloud-golang

Unfortunately it is not compatible with the current way.

Cheers,

[2016-02-02 05:23] okdave commented on #205
Done. Mostly good. :D

On 22 January 2016 at 10:59, Chris Broadfoot <notifications@github.com>
wrote:

[2016-02-03 22:47] christopherhesse commented on #200
I tried this and while it's great for a one-time listener, it might be nice to make it apparent that you don't want to run it in a loop.  Since the request is only cancelled on the client side, the server will still send some messages to the client which will not receive them.

[2016-02-04 00:15] dsymonds commented on #208
Your diff doesn't show anything except an added blank line.

But the library doesn't need to support every possible row key format. It takes a `string`, which can come from anywhere.

[2016-02-04 08:23] reagere commented on #208
Hey right,
Thank you for closing this so quickly.

[2016-02-08 18:58] SteelzZ opened #209 "Unknown request URI"
I have gcloud in docker container and running pubsub emulator inside.

Trying to create topic :
[code]
As response i get 404:
[code]

And in pubsub logs i see:
[code]

But if do a pure curl request, it works:
[code]

Was trying to dig in and figured out that disabling [this](https://github.com/google/google-api-go-client/blob/master/googleapi/googleapi.go#L309) solves issue, but not sure if that i

[2016-02-08 19:29] stephenplusplus opened #210 "gcloud beta emulators pubsub : "Unknown request URI ""
_From @SteelzZ on February 8, 2016 18:36_

I have gcloud in docker container and running pubsub emulator inside.

Trying to create topic:
[code]
As response i get 404:
[code]

And in pubsub logs i see:
[code]

But if do a pure curl request, it works:
[code]

Was trying to dig in and figured out that disabling [this](https://github.com/google/google-api-go-client/blob/master/googleapi/googleapi.go#

[2016-02-08 23:19] okdave commented on #210
@stephenplusplus it's strange that commenting out the `SetOpaque` line changes anything; after all the URL that the pubsub emulator is logging looks valid to me. The 4860 issue should be unrelated: the issue was closed 3 years ago (and we should just delete the workaround code now).

As far as I can tell from your URLs there are no hex-encoded characters in your URL (your topic and project identif

[2016-02-09 18:32] SteelzZ commented on #210
Ok so when `SetOpaque` is disabled in `wireshark` i can see this:
[code]

And when `SetOpaque` is enabled:
[code]

As you see request URI has whole `schema://host:port` prepended.

[2016-02-09 19:33] okdave commented on #210
That difference is what I'd expect from setting opaque. I'm surprised the
dev server chokes on it since it's a valid way of specifying the resource (
https://tools.ietf.org/html/rfc2616#section-5.1.2).

I'll have to chase up to see if we can fix the dev server or if there's a
simpler workaround.

[2016-02-13 03:44] dhruv opened #211 "bigtable: client does not support batched writes"
Is this a conscious decision, or are we just waiting for the roadmap to play out? Could you help me understand the priority for this?

cc: @MrTravisB

[2016-02-13 14:32] hbchai commented on #210
This is definitely a bug in the emulator. A fix is in the works.

[2016-02-15 00:43] dsymonds commented on #211
The underlying RPC API didn't originally support bulk operations at all. I believe there's a recent change to support them, but I haven't checked whether that's available yet.

[2016-02-16 02:50] okdave commented on #179
@jonnenauha we've added automatic chunking and retry logic to the underlying API so that 500s like this shouldn't interrupt your workflow. Let us know if you keep seeing any issues.

[2016-02-16 02:50] #179 closed

[2016-02-16 09:42] jonnenauha commented on #179
Thanks @okdave. I just yesterday ran some asset generation that uploaded 10k gzipped ~100kb files with 12 parallel upload goroutines and got zero responses. Your fixes were not even in that build so I would say this has been resolved along the way. Maybe during the big breaking refactor that happened a while ago.

[2016-02-16 21:04] randall2602 opened #212 "datastore: datastore/example_test.go example functions return 401 invalid credentials"
This example function returns a 401 invalid credentials error when run on a Google Compute Engine instance running in a project that has the datastore API enabled and a JSON key generated.

    func Example_auth() *datastore.Client {
        // Initialize an authorized context with Google Developers Console
        // JSON key. Read the google package examples to learn more about
        // differ

[2016-02-16 21:14] dhruv commented on #211
Thank you! We will watch the release notes and wait for this change.

[2016-02-17 00:42] 4shome commented on #212
I have a similar problem. I run it from managed VM using the default credential.

[2016-02-17 20:06] 4shome commented on #212
I solved my problem. It was caused I didn't run gcloud init for the user I run my job (only did that for my own account). It would be nice if the code could print some useful info for such cases.

[2016-02-18 00:34] 4shome commented on #189
Any updates on this issue?

[2016-02-18 05:41] mcgreevy commented on #189
I have a partial implementation of this, but it's not quite ready to be checked in.  It will probably appear a couple of weeks from now.

[2016-02-18 19:23] 4shome commented on #189
Thanks for the quick update! Looking forward to that.

[2016-02-20 14:15] nightlyone opened #213 "bigquery: add a function to generate a schema from a struct."
It would be great, if the BigQuery schema could be automatically derived via reflection from a provided example struct.

NOTE: There is already a TODO from @mcgreevy for it in the code, but I add it here so it is not forgotten and can be worked on by interested parties.

[2016-02-20 19:57] nightlyone commented on #213
My first stab at this is here: https://code-review.googlesource.com/#/c/4220

[2016-02-20 19:58] nightlyone commented on #207
Turned my suggestion into code here: https://code-review.googlesource.com/#/c/4221

[2016-02-22 06:00] mcgreevy commented on #213
Thanks.

FYI I've started reviewing your change, but have not finished the first pass.  I'll get back to you with comments tomorrow.

[2016-02-22 22:55] ruiyang2015 opened #214 "undefined: http2.TrailerPrefix"
I am getting this error for the latestvendor/google.golang.org/grpc/transport/handler_server.go:202: undefined: http2.TrailerPrefix
this is from the latest head of master.
I did a clean glide get golang.org/x/net/http2 and still get this error.

[2016-02-22 23:06] bradfitz commented on #214
No, somehow you have an old version still. Not sure what you did, though.

[2016-02-22 23:06] #214 closed

[2016-02-23 08:29] nightlyone commented on #213
Some notes on design decisions I made in the first step and why.

I currently use this kind of functionality to infer a table schema from structs as it would be represented in JSON.

My goal here is: load jobs can generate the schema automatically for JSON blobs stored on Google Cloud Storage.

I plan to support non-required fields using a struct tag syntax similar to https://godoc.org/encoding/js

[2016-02-23 22:12] willie opened #215 "pubsub: when will pubsub.NewClient respect JSON credentials"
[code]
results in:

While the older, deprecated code for initializing and using pubsub.Pull works just fine. The example code seems to skirt by this as well, only doing JSON auth for the "olderStyle" path in https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/examples/pubsub/cmdline/main.go

Any idea when this will get fixed?

[2016-02-24 05:07] mcgreevy commented on #213
Your plan of using struct tags to indicate non-required fields sounds reasonable, although it would need to be well documented that this "required" struct tag was only used for table creation operations, and not e.g. when actually loading data (e.g. if a user of this library were loading data into an existing table, and one of the fields was optional according to the server, but required according

[2016-02-25 03:22] campoy opened #216 "datastore.PutMulti fails when `src` is a slice of structs."
I've identified an error on one of my demos that came down to PutMulti failing with `datastore: invalid entity type` even though the equivalent code works when using the `google.golang.org/appengine/datastore` package.

A program showing how this fail:

[code]

The program will fail every time with the following message:

[code]

Even though according to the specs the `src` argument to `PutMulti`

[2016-02-25 03:38] campoy commented on #216
The error comes from this [line](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/6fdcab499d2c45e2939521c4047855f12a745a1d/datastore/prop.go#L272)

[code]
At this point `p` is of type `main.Values, therefore not of of kind `reflect.Ptr`.

[2016-02-25 13:17] nightlyone commented on #207
@mcgreevy the cherrypicked change doesn't appear in github. Is the github sync broken?

[2016-02-26 00:56] mcgreevy commented on #215
Hi @willie, you can use JSON credentials with NewClient by passing in a cloud.ClientOption returned by cloud.WithTokenSource e.g, in your example:

    data, err := ioutil.ReadFile(*confPath)
    if err != nil {
        log.Fatal(err)
    }
    conf, err := google.JWTConfigFromJSON(data, "https://www.googleapis.com/auth/pubsub")
    if err != nil {
        log.Fatal(err)
    }
    ctx := context.B

[2016-02-26 00:56] #215 closed

[2016-02-26 01:16] #207 closed

[2016-02-26 21:21] cnbuff410 commented on #216
I have run into this bug many many times and I always have to make slice of pointer to struct to get around. Very annoying but I thought it was by design

[2016-02-27 19:53] willie commented on #215
That worked! Thanks. Have you all considered leaving the older Pull/Ack in place, as it seems to be more efficient if you do large pulls at a time.

[2016-02-28 23:05] mcgreevy commented on #215
Can you give me some more details about what seems less efficient about the new API?

[2016-03-02 09:06] stephenplaza opened #217 "storage: writes fail without error"
In my application, I am writing thousands of disjoint objects about 32K in size to one bucket per second over several machines.  As one might expect, occasionally a request to the bucket fails requiring a restart.  However, I noticed that my bucket was missing the data for a handful of objects (maybe 1 per 100,000).  My code was not restarting the storage write request since the API was not always

[2016-03-02 17:03] toqueteos opened #219 "storage: Writer always truncates files on close"
Reference: https://github.com/GoogleCloudPlatform/gcloud-golang/pull/218

Quoted from [GoDoc's ObjectHandle.NewWriter](https://godoc.org/google.golang.org/cloud/storage#ObjectHandle.NewWriter):

I propose adding a brief explanation of what happens when objects do already exist as there's no way, that I'm aware of, for opening a file for writing without truncating it.

/cc @bradfitz

[2016-03-02 17:14] bradfitz commented on #219
GCS is not a POSIX filesystem. It's true you can't do random writes inside objects, nor open an object for read+write.

We can probably add a bit more text.

[2016-03-03 16:08] dakom opened #220 "fails on appengine dev due to http2/grpc dependency"
Using latest appengine SDK which is go version 1.4.2 under the hood:

`go get google.golang.org/grpc` fails due to dependency on http2 which evidently doesn't work with the current appengine sdk release. Seems http2 stuff is only available only from 1.6+:

(ref: https://godoc.org/golang.org/x/net/http2)

calling `go get golang.org/x/net/http2` did not fix the errors

While I originally caught this

[2016-03-03 22:17] dsymonds commented on #220
In what way does it fail?

[2016-03-03 22:19] bradfitz commented on #220
I verified I'm able to install grpc and http2 with Go 1.4.2.

[2016-03-04 00:02] okdave commented on #217
@stephenplaza if you look at those failed objects in the [developers console](https://console.developers.google.com) are they correct or also wrong? Is the value written completely missing, or truncated (or wrong in some other way)?

[2016-03-04 01:31] okdave opened #221 "storage: document and test Writer's behaviour on Content-Type"
See google/google-api-go-client#134 for background. We should document and test the behaviour of Writer when setting the Content-Type.

Desired behaviour is to respect the Content-Type attribute set by the developer. If it's omitted (the empty string), use content-type sniffing.

/cc @Capstan @mcgreevy @bradfitz

[2016-03-04 03:39] stephenplaza commented on #217
I ran the test again.  The file exists but is empty.  I see this in my program debug and afterward when looking at the console.

(Right now, I am just doing the inefficient read after write to detect errors.  A re-write of the object (with exponential backup) produces the correct output.  With this conservative approach, I can still load over 10 million objects in under 2 hours and read >1 million

[2016-03-04 07:37] dakom commented on #220
Strange... setting a new GOPATH and trying from there fixed it. Not a coding problem but something wacky in my local configuration. Thanks for looking into it anyway :dancers:

[2016-03-04 07:37] #220 closed

[2016-03-04 07:43] dakom commented on #220
Just for the record...

**davidk-osx:Desktop davidk$ more ~/.bash_profile**

**davidk-osx:Desktop davidk$ go version**

**davidk-osx:Desktop davidk$ /Applications/go_appengine/goapp version**

**davidk-osx:Desktop davidk$ mkdir ./TEMP_GOPATH**
**davidk-osx:Desktop davidk$ export GOPATH=/Users/davidk/Desktop/TEMP_GOPATH**
**davidk-osx:Desktop davidk$ go get google.golang.org/grpc**
**davidk-osx:Des

[2016-03-04 11:30] nightlyone commented on #219
It actually is explained rather well at https://cloud.google.com/storage/docs/key-terms on bullet point "Object immutability" and inter-operation behavior at https://cloud.google.com/storage/docs/consistency so linking to this might suffice.

[2016-03-06 23:35] #219 closed

[2016-03-06 23:35] #221 closed

[2016-03-07 21:58] nightlyone commented on #213
A more open and active discussion of the default for the "required" attribute is needed.

[2016-03-07 22:03] nightlyone commented on #213
Open sub-issues to finish this:
- [ ] decide on default for required/optional on fields in structs without a struct tag
- [ ] support struct tags to define things like required/optional
- [ ] support field renaming
- [ ] support a way to use the JSON codec field renaming
- [ ] support pointers to model optional/null values
- [ ] support TextMarshaler as string to use the same struct for JSON and B

[2016-03-09 18:17] dlorenc commented on #205
Friendly ping. Is there anything I can do to help unblock that CL?

[2016-03-10 04:47] okdave commented on #216
Actually I think the difference is in `putMutation` which has diverged quite a bit from the app engine version. In AE, we grab a pointer before passing into saveEntity->SaveStruct->newStructPLS

- cloud: https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/datastore.go#L458
- app engine: https://github.com/golang/appengine/blob/master/datastore/datastore.go#L338

[2016-03-11 00:45] okdave commented on #217
There shouldn't be any concurrency bugs in the library that affect correctness (we've designed it to be safe to upload multiple objects at once, and there are no known data races).

I'm really surprised that creating a lot of Writers blows up memory usage. Yes, each Writer will consume memory while it is open – they all have buffering built in for performance and automatic retries. However, as soo

[2016-03-11 01:36] mcgreevy commented on #213
@nightlyone : I've created a doc to discuss required/optional:

https://docs.google.com/document/d/1B3yg3HHQrntTw_rD1M94MhqREgg-MahrXfoiOyK_3b4/edit?usp=sharing

Please review and feel free to leave comments.

I'd like to also hear from @dsymonds on this.

[2016-03-11 01:36] stephenplaza commented on #217
I limit my number of concurrent connections to 100.  Usually I hope for 1-2K requests per second per VM running the application.

[2016-03-11 02:10] okdave commented on #217
I'd expect each Writer to be consuming roughly 32K: it will slurp the whole object into memory before sending it, up to 8MB (`DefaultChunkSize` in [the googleapi package][1]). That's in addition to any overhead from the HTTP package and below.

Do you have an example bucket/object ID you can share (off list is fine) so I can file a bug for the backend team to investigate?

[1]: https://godoc.org/g

[2016-03-11 07:24] stephenplaza commented on #217
I reran my experiment and loaded data in the bucket: "storagewritebug".  The following object is size 0 (but it shouldn't be 0):

AQAAAGQXAYAAAACAAACOgAAAdQAAAAEAAAAAAw==

With regards to the memory issue, I notice the memory blow-up when NewWriter is called followed by Close even without writing data.

[2016-03-11 15:41] willie commented on #215
I have a little benchmark test I wrote in Go while evaluating PubSub and the old API seems to be 2X faster if you use pulls and acks of 100 at a time vs. the new iterator style. Probably doesn't matter, but there you go.

[2016-03-13 12:57] nightlyone commented on #213
@mcgreevy additionally to the comments left in the document, I think our use cases diverge a lot and it shows in the suggested solutions. I want to auto-create schema for JSON-blobs from the very same Go structures that generated these blobs.

Your goal seems to be codecs for query reading, table data reading and streaming writes.
Let's please create those codecs in a later step and not assume the

[2016-03-13 13:00] nightlyone opened #222 "bigquery: streaming inserts"
bigquery supports streaming inserts, which are not yet supported by this API.

Added an issue, so interested parties can start working by providing possible designs here.

[2016-03-14 02:48] mcgreevy commented on #215
The new iterator style fetches batches of 100 under the hood (this will probably be made more dynamic or configurable, but that's what it's doing right now).  The acking is also batched, but the details of that might differ a bit more compared with how you are doing it.

If you are willing to share your benchmark code (and also the default ack deadline of the subscription you are pulling from), I'

[2016-03-14 18:37] hbchai commented on #210
This should be fixed as of SDK 98, released about 3 weeks ago.

[2016-03-15 04:28] #216 closed

[2016-03-15 14:23] willie commented on #215
I will. (As soon as I finish my battle with the Datastore interface.)

[2016-03-15 14:47] willie opened #223 "datastore: support Put and Get for JSON entities"
tl;dr: I'd like to be able to pass a JSON formatted string or the interface value of the marshaled JSON to Put and be able to retrieve it via Get.

Here's my use case:
1. You have a system that generates and emits JSON messages (could be a logger, could be something else). The JSON may have extra data in it from time to time.
2. These JSON messages arrive via Pub/Sub.
3. One subscriber to these me

[2016-03-16 00:24] okdave commented on #223
Hi @willie – I'd like to know more about your use case, cause I'm not sure I completely understand it yet.

When the JSON data arrives, what format do you have it in? Is it still marshalled as `[]byte`, or has it been parsed into a struct or map[string]interface{} or ...?

Do you want to be able to index the data / what type of queries do you need to be able to run?

[2016-03-16 04:14] raliste commented on #150
+1

Wouldn't be as simple as passing the `X-Cloud-Trace-Context` to internal requests if the ids are present within a context?

[2016-03-16 05:51] mcgreevy commented on #222
I have some code written to do this which has been on the back burner for a little while.  I intend to resurrect it soon.

[2016-03-16 14:11] mwitkow opened #224 "datastore: local test harness against emulators"
We're using `stretchr/testify/suite` to test our code related to Datastore entities. For the purpose of these suites we wrote a testing harness around the old `gcd-v1beta2-rev1-4.0.0` Local Development server.
Basically what it would do is:
- initialize a random project name
- apply the user specified `index.xml` file
- start the server at a free, random port (so we can run these in parallel on Je

[2016-03-16 14:17] mwitkow opened #225 "datastore: support for gRPC v1beta3"
Hey,

I've found the new gRPC based proto definitions for Datastore hanging around in the Google APIs repo:
https://github.com/googleapis/googleapis/tree/master/google/datastore/v1beta3

This is pretty exciting, since gRPC brings in HTTP2 multiplexing which would save us *a ton* of reconnecting from our servers in GCE to Datastore.

Any roadmap update when this'll be available in the gcloud-golang

[2016-03-16 14:37] bradfitz commented on #225
You can use the non-gRPC API over HTTP2 too. Just use Go 1.6+ (where it's automatic), or use a https://godoc.org/golang.org/x/net/http2#Transport with the datastore package.

[2016-03-17 19:57] broady commented on #205
merged here: 8bc2457bef5a52c10b0001d481d441141095b130

[2016-03-17 19:57] #205 closed

[2016-03-17 21:50] #210 closed

[2016-03-17 21:50] broady commented on #210
Verified working now.

[2016-03-17 21:51] broady commented on #209
Dupe of #210.

[2016-03-17 21:51] #209 closed

[2016-03-17 21:52] broady commented on #206
https://code-review.googlesource.com/#/c/4340

[2016-03-17 21:57] dlorenc commented on #206
Thanks Chris!

[2016-03-18 19:18] #206 closed

[2016-03-19 22:41] cameront opened #226 "pubsub: allow setting iterator batch size"
Love the new iterator pattern - but the inability to fetch fewer messages per pull (aka this [TODO](https://github.com/GoogleCloudPlatform/gcloud-golang/blob/ab6762587120f590adf808437a5819b991ac2d20/pubsub/iterator.go#L26)) is problematic for our use case.

We have some long-running jobs that we're trying to shard among several machines. Without the ability to make the batch size 1, the first pull

[2016-03-21 01:08] mcgreevy commented on #226
Hi @cameront,

Thanks for the request.  I've just sent out https://code-review.googlesource.com/4351 for review.  Hopefully it addresses your needs.

[2016-03-21 06:10] #226 closed

[2016-03-21 07:36] cameront commented on #226
Welp - that was amazing. :) Thanks!

[2016-03-22 04:25] derekperkins opened #228 "storage: ACL doesn't set properly"
I'm trying to write public objects to GCS but it doesn't set the acl properly.

[code]
When I check the file after it is written, this is the ACL returned by `gsutil`
[code]
It's like it completely ignored the public settings option. There aren't many docs, so maybe I'm just using it wrong, but this is how it seems like I should use it.

[2016-03-22 04:28] bradfitz commented on #228
Two quick notes: you didn't check the error values from your Set calls, and you didn't specify what you expected to see from gsutil.

[2016-03-22 10:03] mwitkow commented on #225
@bradfitz that's precisely what I did :)

It would still be awesome to have gRPC client though :) Hopefully using the new gRPC interface over the RESTful one bring in other benefits ;)

[2016-03-22 16:53] azr opened #229 "pubsub: weird panic ( pubsub.NewClient )"
Hello there,

I have a service running in GCP kubernetes and right after calling the latest ```pubsub.NewClient(ctx, *projID)``` it panics:

[code]

It works locally if I use a json key file. ( on docker )

Cheers ! :)

[2016-03-22 16:57] broady commented on #229
Makes sense that would fix it. It's trying to find the home directory with
application default credentials.

Can you reproduce this panic consistently? If so, can you tell us more
about how your app is configured and deployed? Do you have the Dockerfile
available?
On Mar 22, 2016 9:53 AM, "Adrien Delorme" <notifications@github.com> wrote:

[2016-03-22 17:02] azr commented on #229
The service is continuously built and deployed to a kubernetes cluster using wercker.

Dockerfile for build is : [az3r/golang-rocksdb:1.6-4.4](https://github.com/azr/dockerfiles/blob/master/golang:1.6-rocksdb:v4.4/Dockerfile)

rocksdb is embeded in binary ( I think build command is :  `GOOS=linux GOARCH=amd64 godep go build --ldflags '-extldflags "-static"' -a -tags netgo -o hotbase .` )

Happens

[2016-03-22 19:10] broady commented on #229
That's a segfault. I think it's because there's no `/etc/passwd` file (and no home directory!) if you only have the binary inside the container.

If you want to use the default service account from the metadata server, you can use the [`ComputeTokenSource`](https://godoc.org/golang.org/x/oauth2/google#ComputeTokenSource), instead of using a credential file.

[2016-03-22 19:38] broady commented on #229
Try building this with `CGO_ENABLED=0`.

[2016-03-22 20:13] broady commented on #229
Very strange. I can't reproduce this.

[code]

[2016-03-22 20:20] broady commented on #229
Are you running on Google Container Engine?

[2016-03-23 05:21] okdave commented on #188
A quick overview of where preconditions are supported:

The generation preconditions (if/if not generation matches and if/if not metageneration matches) applies to [the following methods](https://cloud.google.com/storage/docs/json_api/v1/objects):

- `insert`
- `delete`
- `get`
- `copy`
- `compose`
- `rewrite`
- `update`
- `patch`

(That is basically everything except `list`).

Some of the methods

[2016-03-23 10:18] azr commented on #229
Okay, I did a little manual bissection, and this is caused by the adding of rocksdb.
I used boltdb before and it just worked.

replacing boltdb with rocksdb:

* local mac book pro go build
works

Now if I build the binary inside my local docker using the same commands as my builder:

* If run on my local docker (google/cloud-sdk) without any credentials I get a nice :
[code]

* If run on my local

[2016-03-23 11:02] piosz commented on #194
We are encountering the same issue in Kubernetes. See https://github.com/kubernetes/kubernetes/issues/22176

[2016-03-23 20:12] broady commented on #229
I'll try running my demo on Container Engine.

[2016-03-24 03:25] #194 closed

[2016-03-24 05:29] #188 closed

[2016-03-24 06:39] piosz commented on #194
Thank you @bradfitz for fixing this. I'll try it.

cc @mwielgus

[2016-03-24 10:54] dendon opened #230 "Decide, document, setup testing for minimum supported Go policy"
Hey, building the package fails.

go version go1.3.3 linux/amd64

https://github.com/GoogleCloudPlatform/gcloud-golang/commit/f95c875f2894b735501920cce2ab858f2110b23a

google.golang.org/cloud/compute/metadata
go/src/google.golang.org/cloud/compute/metadata/metadata.go:191: req.Cancel undefined (type *http.Request has no field or method Cancel)

[2016-03-24 11:24] bradfitz commented on #230
Generally we only support the past two released versions of Go. `net/http.Request.Cancel` was added in Go 1.5, so we thought that was an acceptable requirement nowadays.

/cc @okdave @broady @adg

[2016-03-24 11:25] dendon commented on #230
Thanks for the answer.
Tell that the debian package maintainers :)

[2016-03-24 12:13] nightlyone commented on #134
@fredr Point-problem seems fixed, because all relevant fields are now pointers.

[2016-03-24 16:09] broady commented on #230
App Engine is still on 1.4 (for a short time), so this should probably support < 1.5.

[2016-03-24 16:15] fredr commented on #134
Sweet! thanks for the update @nightlyone!

I did build a small package for some basic usage of the cloud monitor api, until there is an official package: https://github.com/soundtrackyourbrand/cloudmon

[2016-03-24 18:05] erlichmen commented on #230
This change is the pad-left for AppEngine/Go (at least for us).

We are accessing BQ from GAE/G which requires us to use the golang.org/x/oauth2 which needs google.golang.org/cloud/compute/metadata, now since GAE/G runs under 1.4.2 this change broke our builds (and possibly for others) since 1.4.2 doesn't have .Cancel()

[2016-03-24 20:09] bradfitz commented on #230
We can fix this specific case. The larger issue of figuring out a policy remains, though.

[2016-03-24 20:27] broady commented on #230
assigning to @okdave for policy on Go version support.

[2016-03-24 20:41] nathanielmanistaatgoogle opened #231 "From the (failed) gRPC build logs: "../../../cloud/compute/metadata/metadata.go:191: req.Cancel undefined (type *http.Request has no field or method Cancel)""
(My apologies for this incomplete report; our Go engineer is away from work duties at the moment.)

As of yesterday grpc-go began failing to build with the following error:

[code]

. We have [two](https://github.com/grpc/grpc/issues/5949) [bugs](https://github.com/grpc/grpc-go/issues/603) on the gRPC side. Even though this is a sparse report does it trigger anything obvious to you? Either assessm

[2016-03-24 20:43] broady commented on #231
See #230. Update to the latest version. Fixed in eb47ba841d53d93506cfbfbc03927daf9cc48f88.

[2016-03-24 20:43] #231 closed

[2016-03-24 21:01] nathanielmanistaatgoogle commented on #231
Thanks for the response.

[2016-03-24 21:03] broady commented on #231
Also see https://github.com/grpc/grpc-go/pull/604

[2016-03-24 21:31] okdave commented on #230
I agree, the last two versions are what we should support. But given that App Engine has fallen so far behind, we should be supporting it too. So the official policy should be "the minimum of the last 2 Go releases and the current default App Engine release".

App Engine isn't really too special here: it really should be the default version in any environments where the cloud packages are designed

[2016-03-25 02:09] dsymonds commented on #230
I agree.

Go on App Engine switched over to Go 1.6 this morning, so we can probably now declare that Go 1.5 is the oldest supported version across the board (App Engine, cloud APIs, ...).

[2016-03-25 04:02] bradfitz commented on #228
Ping, @derekperkins. Please clarify.

[2016-03-25 04:18] derekperkins commented on #228
That's my bad for not reading the docs properly. My misconception was that I was setting them on the object handle and it was all being written out together. My workaround was to set the default bucket ACL and comment out that code. I'll try it out this weekend to see what errors are being returned.

[2016-03-25 04:18] #228 closed

[2016-03-25 19:03] lukef opened #232 "storage.SignedURL and SignatureDoesNotMatch"
Ok. I searched the old issues and I **swear** I am following the instructions [here](https://godoc.org/google.golang.org/cloud/storage).

Namely the following command: `$ openssl pkcs12 -in key.p12 -passin pass:notasecret -out key.pem -nodes` to generate / use a PEM for a service account P12.

Any signed url generated via `gsutil signurl` works fine, but anything via Go has a mismatch. I tested th

[2016-03-25 20:29] lukef commented on #232
Turns out I didn't fully read the source comments. I'll leave this here for other people.

A value specified in `ContentType` represents the content type header the client **MUST** provide to use the generated signed URL. After providing that header it works.

Sorry for the noise.

[2016-03-25 20:29] #232 closed

[2016-03-26 02:45] aeijdenberg commented on #220
FYI I had the same problem, and was able to clear it by running "go get -u all" to update my other Go packages, and then was able to successfully run "go get" on the PubSub library.

[2016-03-27 17:51] broady commented on #229
Can't reproduce this. What exactly is in your Dockerfile?

Is it running your app's binary as well as rocksdb? Is it running just rocksdb?

[2016-03-28 17:10] derekperkins opened #233 "storage: Write fails on large files (unknown content length)"
I've written a function internally to "compose" multiple gzipped data files. I can't use the GCS compose function because the files are gzipped, resulting in a file that is unreadable by the browser. My code works great until files get > 10 MB. I'm trying to combine two ~12MB files into a single 24MB, which always results in this error: `storage: unknown content length`, [emitted here](https://git

[2016-03-29 00:13] aeijdenberg opened #235 "PubSub: Calling iterator.Stop() goes into spinlock"
The following code,which AFAICT is doing using the client library correctly, never completes:

	iter, _ := sub.Pull(ctx)
	message, _ := iter.Next()
	message.Done(true)

	fmt.Println("Pre done...")
	iter.Stop()
	fmt.Println("Post done (never reached)...")

Passing false (rather than true) to message.Done() makes the code complete.  Reading the docs, I'm not sure whether I'm meant to be passing true

[2016-03-29 00:34] bradfitz commented on #235
/cc @mcgreevy @okdave

[2016-03-29 00:40] mcgreevy commented on #235
Yep, this is on my radar.  It should be fixed within the next day.

[2016-03-29 05:56] mcgreevy commented on #235
@aeijdenberg I've sent out https://code-review.googlesource.com/4401 for review, which should fix this issue.  Feel free to patch it and let me know if it doesn't.

Passing false to Message.Done happens to avoid inducing this bug, but will not have the result you want: the message will be NACKed and subsequently redelivered.  I'll try to make this clearer in the docs.  In any case, once change 440

[2016-03-29 08:23] azr commented on #229
Ah bummer, I will try to pull something reproductible !

[2016-03-29 22:28] aeijdenberg commented on #235
Hi Michael, thanks for the patch. While it seems to stop the busy lock, calling `iter.Stop()` continues to hang for exactly 5 minutes on my system. A problem with the patch is that when `func (ka *keepAlive) Stop()` is called, `len(ka.items) == 0` is not true, and as such `ka.done` is not sent to and instead we block on `ka.wg.Wait()`.

Full test case below - perhaps I'm using the library wrong...

[2016-03-29 23:28] mcgreevy commented on #235
I suspect that the problem is that the batching of acknowledgements is introducing a delay here.  iter.Stop will block until the message has been acked on the server, which may take a while if the acknowledgement deadline for the subscription is long.  Do you have a long default ack deadline?  After I've submitted change 4401, I'm going to address this separate issue in a followup change.

[2016-03-29 23:42] aeijdenberg commented on #235
Yes, I'd set 10 minutes here.

[2016-03-30 04:44] #235 closed

[2016-03-30 05:55] mcgreevy opened #236 "pubsub: Iterator.Stop blocks for a long time for subscriptions with long ack deadlines."
The current implementation batches up acknowledgement requests and deadline extension requests, and performs them at regular intervals (the duration of which depend on the subscription's ack deadline).

Iterator.Stop blocks until there are no more acks or deadline extensions to perform, which can mean waiting for the next regular interval, even if there are no outstanding Messages.

It would be a

[2016-03-30 05:57] mcgreevy commented on #235
I've opened issue #236 to track the related problem of Iterator.Stop not returning promptly.

[2016-03-30 05:59] mcgreevy commented on #236
Currently, the workaround is to reduce the subscription ack deadline, which may not always be feasible.  I'm working on a patch to fix this.

[2016-03-30 16:03] derekperkins commented on #233
Is there a limit to how large a file can be? I'm running on Flexible App Engine on Go 1.6 and commit 669392d4c311275ca945e01a18bb1ebe88708e2a of this library.

[2016-03-30 20:12] azr commented on #229
Okay, took looooong enough but I nailed it down to this code :
[code]
remove any of gorocksdb.OpenDb / pubsub.NewClient / storage.NewClient it works fine.

[2016-03-30 21:59] broady commented on #229
@azr can you show me the Dockerfiles and commands you're running, too? I don't fully understand the setup you have going on here.

[2016-03-30 23:19] dhowden commented on #189
Anything further on this? I want to use this soon and in the worst case can probably make time to implement it (if you are are open to contributions of this size).

[2016-03-31 01:47] broady opened #237 "travis: run tests with -race"
We should run the tests with the race detector turned on.

I'm not sure whether we should run the tests once or twice, though, and whether we want the integration tests to run with the race detector turned on.

[2016-03-31 02:18] okdave commented on #237
Maybe `-race -short` would be a reasonable combo so we only trigger the non-integration tests in race mode?

[2016-03-31 05:36] #236 closed

[2016-03-31 06:00] mcgreevy commented on #189
Sorry for the delay; some other issues came up which pushed this work out. I expect it will be another week or two.

[2016-03-31 06:01] mcgreevy commented on #235
This should be all fixed now. @aeijdenberg  can you confirm that it's working for you?

[2016-03-31 08:20] azr commented on #229
Okay,

For building I run:
[code]
Now because I did the little -v option the binary is was built my cwd.

Docker image : [azr/golang-rocksdb](https://github.com/azr/dockerfiles/blob/master/golang:1.6-rocksdb:v4.4/Dockerfile)

[code]

Now that I have the binary I run :
[code]

That docker file is :
[code]
And the worl.yaml is a replication controller:
[code]

[2016-03-31 12:35] azr commented on #229
I will try pinging @tecbot also as he might have a clue.

[2016-04-01 09:49] nightlyone opened #238 "bigquery: support schema inference of nested structs"
As requested by @mcgreevy I excluded support of nested structs from #213 and leave it open for discussion and possibly later implementation.

[2016-04-01 21:50] bradfitz commented on #233
That error message comes from the recent RangeReader change (https://code-review.googlesource.com/#/c/3430/20)

We can start with at least making that error message more informative to see what the request & response headers looked like.

/cc @okdave

[2016-04-02 05:05] #225 closed

[2016-04-02 20:10] kurin commented on #233
I'm unable to reproduce this using the following code.

I created two ~20MB objects and composed them into a 38k object (with gzip) and a ~40MB object (without).

Can you reduce this to a simple test case or show the headers that are returned with your objects?

I'm synced to a84169b58e233ca24c21e8d0418d0bc6e0f6e195

[code]

[2016-04-04 00:03] aeijdenberg commented on #235
I just tried to re-run my test-case and the latest version seems to have removed the TopicHandle.Subscribe() method (as confirmed by it's non-presence in the docs: https://godoc.org/google.golang.org/cloud/pubsub, even though the docs for CreateSub state "Deprecated: Use TopicHandle.Subscribe instead.Deprecated: Use TopicHandle.Subscribe instead.").  Old version deprecated, new one not ready yet?

[2016-04-04 00:07] mcgreevy commented on #235
I recently replaced TopicHandle.Subscribe with Client.NewSubscription, so that it would be possible to create a subscription to a topic in another project.  I forgot to update the deprecation notice on CreateSub to point to the new method.  I'll update that. Thanks for pointing it out.

[2016-04-04 00:15] aeijdenberg commented on #235
Thanks - I made the changes to my test case and it now terminates quickly as expected.

[2016-04-04 13:45] nightlyone commented on #213
@mcgreevy could you submit https://code-review.googlesource.com/#/c/4220 for me now? I don't have the permissions to do it.

[2016-04-04 18:04] derekperkins commented on #233
@kurin: I don't think that I have access to any returned headers because I'm just using the writer interface. Are you talking about adding logging inside the actual storage package?

[2016-04-04 19:08] kurin commented on #233
Yeah; something like fmt.Println(res.Header) at $GOPATH/src/google.golang.org/cloud/storage/storage.go:544 and retry.

I suspect you're getting chunked transfers from GCS, although I can't reproduce it here.

[2016-04-04 20:12] kurin commented on #233
Nevermind, I've figured it out.  The issue arises when a file of sufficient length to be chunked is also stored with a gzip content encoding.

[2016-04-04 20:16] derekperkins commented on #233
Thanks for helping me to track that down!

[2016-04-05 00:01] #233 closed

[2016-04-05 16:23] azr commented on #229
could you reproduce it @broady ?

[2016-04-06 00:57] broady commented on #201
ScopeUserEmail no longer required.

7df4f4f

https://code-review.googlesource.com/#/c/4480/

[2016-04-06 00:58] #201 closed

[2016-04-07 00:14] cnbuff410 commented on #46
Now that the v1beta3 is out, is GeoPoint supported now?

[2016-04-07 01:25] okdave commented on #46
Not yet, but you're right: it will be possible. Hopefully towards the ends of next week I'll be able to get to it if no one beats me to it.

[2016-04-07 20:09] ryanseys opened #239 "Support the Google Cloud Vision API"
Would be great if this library supported the Google Cloud Vision API: https://cloud.google.com/vision/

Until support is available, are there any suggested Go libraries for interacting with this API?

[2016-04-07 20:13] ryanseys commented on #239
Oh I found this: https://godoc.org/google.golang.org/api/vision/v1

[2016-04-07 20:38] broady commented on #239
Sample:
https://github.com/GoogleCloudPlatform/cloud-vision/blob/master/go/label/label.go

[2016-04-07 21:04] ryanseys commented on #239
Thanks @broady :smile:

[2016-04-08 16:30] willie commented on #223
It can be either format. Right now, my code is fine with dealing with it as a struct or as a map[string]interface{}, but storing it in a struct to put into datastore may cause data loss.

Short version: JSON events come in via Pub/Sub. Those events have data that I need to take action on based on some of the field values. I will want to store some of those events for later, for long term knowledge

[2016-04-13 15:05] kjlubick opened #242 "storage: HTTP 416 on GET request of 0 length file"
I have a gs bucket with several 0 length files in it.  When I try to use the storage api, I get
```Get https://storage.googleapis.com/bucket/zero-length-file: HTTP request failed inspite of exponential backoff: Got non server error statuscode 416 while making the HTTP GET request to https://storage.googleapis.com/bucket/zero-length-file```

This has started happening recently.  It works fine on an

[2016-04-18 12:14] trixing opened #245 "Naively downloading the demo and running it fails with 401 errors"
It's unclear with the instructions of how set it up that it actually works.  The documentation at https://cloud.google.com/appengine/docs/go/ doesn't seem to imply extra steps.

Super frustrating experience.

 ./goapp serve ../gcs_app

2016/04/18 12:07:23 ERROR: createFile: unable to close bucket "app_default_bucket", file "demo-testfile-go": googleapi: Error 401: Invalid Credentials, authError
20

[2016-04-19 00:29] lgarron opened #246 "`go get google.golang.org/cloud/datastore` is failing"
A regression from [this Travis CI run](https://travis-ci.org/chromium/hstspreload/builds/124055089) to [this Travis CI run](https://travis-ci.org/chromium/hstspreload/builds/124058360) about an hour ago.

    # google.golang.org/cloud/datastore/internal/proto
    ../../../google.golang.org/cloud/datastore/internal/proto/datastore.pb.go:1128: cannot use _Datastore_Lookup_Handler (type func(interfac

[2016-04-19 01:04] okdave commented on #245
@trixing can you add more detail about what you were trying to achieve? What do you under "gcs_app"?
The documentation you've linked above is the getting started for "Hello World" which doesn't use the GCS or any of the packages in this repo.

[2016-04-19 01:06] dsymonds commented on #246
Fixed by 4240966.

[2016-04-19 01:06] #246 closed

[2016-04-19 01:31] lgarron commented on #246
It's working again. Thanks! :-)

[2016-04-19 01:39] dsymonds commented on #150
I suspect 90% of this will just be hooking gRPC and Cloud Trace together, but once that is done we can see whether it makes sense for the bigtable package to add its own specific annotations above that.

[2016-04-19 04:05] dhowden commented on #189
Any progress on this? Cheers.

[2016-04-19 05:58] okdave commented on #242
416 is `http.StatusRequestedRangeNotSatisfiable` so that makes a bit of sense.

I'll take a look.

[2016-04-19 06:05] okdave commented on #242
OK, so GCS is doing the right thing. We're asking for the range `0-` which is valid, but since there isn't at least 1 byte that satisfies it, GCS is obliged to respond with a 416.

This should be easy enough to fix.

[2016-04-19 06:24] okdave commented on #224
In the short term you'll need to keep using the [standalone gcd emulator](http://storage.googleapis.com/gcd/tools/gcd-grpc-1.0.0.zip), since the gcloud one currently doesn't support gRPC. The easiest way to set up the storage package to communicate with that emulator is to set the environment variable `DATASTORE_EMULATOR_HOST`, but I am hoping to introduce a new `cloud.ClientOption` to make that s

[2016-04-19 06:26] okdave commented on #217
Sorry for the delay in getting back to you. We did find an issue which was causing some small objects to fail to write correctly if there was an error (for example, a dropped network connection or server error) on the first attempt at uploading it. That has been patched, and we'll be adding extra tests to make sure it doesn't come back.

Can you let me know if you're still seeing the issue? It sho

[2016-04-19 07:07] okdave commented on #223
There's no immediate plan to any specific JSON support to the datastore API, but you should be able to achieve what you want using the existing API.

The simplest way is actually to store the marshalled JSON as a `[]byte` in datastore. If you need to index any of the properties, you can do that by storing them as separate properties. You can do this by implementing `datastore.PropertyLoadSaver`:

[2016-04-20 01:10] #242 closed

[2016-04-20 08:26] nightlyone commented on #128
@mcgreevy / @okdave do you want a little help with this?

I would like to use this library with appengine and need support for https://godoc.org/google.golang.org/cloud#WithBaseHTTP so this works.

[2016-04-21 06:49] mcgreevy commented on #128
Sure, feel free to send me a patch.

[2016-04-21 18:13] dhruv commented on #211
@dsymonds Do you happen to know if there's any update on this?

[2016-04-21 18:21] garye commented on #211
@dhruv I'm currently working on this change, should be ready soon. I'll reply here when it's available.

[2016-04-21 18:29] dhruv commented on #211
Thank you -- quick question about it: Will the batch writes have to be to the same table?

[2016-04-21 18:41] garye commented on #211
@dhruv Yes, batch writes are applied to a single table (but across row keys).

[2016-04-22 07:02] mcgreevy commented on #189
I appreciate the continued interest in this feature.  I'm actively working on it and look forward to getting it checked in some time in the next week.

[2016-04-23 04:43] alanma commented on #215
Hi @mcgreevy

Am trying out the service account oauth2 code you shared above. I could call the pubsub APIs locally without using GAE devappserver; however, when running local devappserver or deployed to GAE, I got the following error when making pubsub calls:

```oauth2: cannot fetch token: Post https://accounts.google.com/o/oauth2/token: not an App Engine context```

I could not figure out what's

[2016-04-23 04:54] aqua opened #247 "datastore: loading nested structs is broken"
In constructing the codec for loading struct properties from datastore, datastore.getStructCodecLocked() populates a map structCodec.byName with the names of the fields from that struct.  When one of those fields is another struct, it instead recurses into itself and populates .byName with names of the form OuterFieldName.InnerFieldName (it does not insert the name of the inner struct field).  All

[2016-04-23 05:44] alanma commented on #215
@willie have you tried deploying the oauth2 service account sample on GAE? thanks.

[2016-04-23 08:27] aqua commented on #247
Experimenting some more I think I see the surrounding context -- this problem is triggered by reading entities containing nested structs (or at least the appengine.GeoPoint struct, which is a recognized property in the AE datastore) that were written via the Go appengine SDK.  In the StoredEntity example above, the Location field will be named 'Location' as written via the SDK and viewed through t

[2016-04-23 09:26] okdave commented on #247
See #46 – support for the geo point will be coming very shortly, and should fix this issue for you.

[2016-04-23 09:26] #247 closed

[2016-04-23 19:17] alanma opened #248 "GAE Deployed Pubsub OAuth2 Error: oauth2/token: not an App Engine context"
This might be related to https://github.com/GoogleCloudPlatform/gcloud-golang/issues/215

Am trying out the service account oauth2 code @mcgreevy shared in the above issue.

[code]

I could call the pubsub APIs locally without using GAE devappserver; however, when running **local GAE devappserver or deployed to GAE**, I got the following error when making pubsub calls:

```oauth2: cannot fetch tok

[2016-04-26 22:41] mpl opened #249 "storage: on *ObjectHandle.Delete, return storage.ErrObjectNotExist ?"
It looks like operations on an *ObjectHandle such as Attrs, NewReader, and Update return storage.ErrObjectNotExist when the object is not found, but Delete does not.

If that is correct, it is then pretty inefficient to implement functions that accept removal of non-existent objects because it requires confirming the kind of error with a subsequent call to e.g. Attr.

Or one could look for the "Er

[2016-04-27 01:50] okdave commented on #249
A CL to convert to `ErrObjectNotExist` would be most welcome! See CONTRIBUTING.md for details if you need them.

[2016-04-27 01:58] bradfitz commented on #249
I can take this.

[2016-04-27 02:02] bradfitz commented on #249
https://code-review.googlesource.com/4630

But untested, because I'm away from a fast connection with the right credentials.

[2016-04-27 03:40] #249 closed

[2016-04-27 08:03] broady commented on #135
We're on `v1beta3` now, backed by gRPC. Performance should be much improved.

[2016-04-27 08:03] #135 closed

[2016-04-27 16:57] kurin opened #250 "storage: panic on broken pipe"
I have a fairly simple program that gets a storage.Writer and then tries to shove 200GB into GCS Nearline over my poor 5Mb connection.  Currently the connection always gets reset, which is probably TWC's fault, but when it happens I get the following panic:

[code]

The line that corresponds to is:

[code]

I suspect what's happening is that this is interpreted as

[code]

but that the author inte

[2016-04-27 16:59] broady commented on #250
de-clevering would be much appreciated.

[2016-04-27 17:08] kurin commented on #250
Actually, nevermind, I was using an ancient fetch of this package.  Good work everyone, I feel like we discovered some important learnings today.

[2016-04-27 17:08] #250 closed

[2016-04-27 21:38] hegemonic opened #251 "bigtable: provide a simpler "Hello World" example"
A Cloud Bigtable engineer suggested that it would be useful to have a very simple "hello world" example for Bigtable, in addition to the more complex search example. The Go "hello world" example could be modeled after the [Java "hello world" example](https://github.com/GoogleCloudPlatform/cloud-bigtable-examples/tree/master/java/hello-world).

[2016-04-27 21:40] hegemonic opened #252 "bigtable: provide a README for the search example"
A Cloud Bigtable engineer suggested that the Bigtable search example could use a README. Ideally the README would cover all of the following information:
- Prerequisites (e.g., creating the table "shakespearetemplate")
- Command-line options
- What port the server is listening on

[2016-04-28 09:09] ernestoalejo opened #253 "datastore: Fix multiple properties documentation"
After [this commit](https://code.googlesource.com/gocloud/+/8e172451ca67fecbe20890ed512199f2a8b71af2) properties can contain multiple values in the same place. Change documentation to reflect it accordingly, because it still says:

Also if `google.golang.org/appengine/datastore` won't be updated too, it would be highly appreciated to include a comment or code example to transform between the struc

[2016-04-28 10:39] okdave commented on #253
Thanks @ernestoalejo I'll try to get to both those requests tomorrow

[2016-04-28 11:53] ernestoalejo commented on #253
Thinking about the transform between the two libraries, it's something that doesn't fit the documentation, but probably someone wants to do it and now it needs reflect magic that wasn't needed before:

[code]

It seems it's an example rather than documentation. Or perhaps this issue is enough for those searching how to copy entities and does not need to be included in the repo.

[2016-04-28 17:03] andrewwatson commented on #248
you're getting that error, i believe, because you're calling context.Background() instead of appengine.NewContext()

[2016-04-28 19:11] andrewwatson commented on #212
i have the same problem but i suspect it's because the key i'm using belongs to a service account that doesn't have Editor permissions

[2016-04-28 20:53] stephenplaza commented on #217
I was away for a bit but will try to test this shortly.  To clarify, if there is a write failure, should an error message be returned to the caller or will the code retry the write?

[2016-04-29 04:08] mcgreevy commented on #222
Duplicate of #189.

[2016-04-29 04:08] #222 closed

[2016-04-29 04:32] #189 closed

[2016-04-29 04:37] mcgreevy commented on #189
Please sync to HEAD and try out the streaming upload support.  Let me know what you think of it.

[2016-04-29 05:04] dsymonds commented on #248
Yes, that'll cause it. Use appengine.NewContext(r) to get a valid context.

[2016-04-29 05:04] #248 closed

[2016-04-29 05:05] mcgreevy commented on #200
PullWait is now deprecated.  The equivalent in the new API is calling Next on an Iterator. This can be cancelled by calling Stop on the Iterator.

[2016-04-29 05:05] #200 closed

[2016-04-29 05:09] #127 closed

[2016-04-29 05:57] #128 closed

[2016-04-29 06:58] okdave commented on #253
I think the transformation between the two libraries is a pretty small corner case: most users won't need to worry about converting between the two types of `Property` since the normal struct representation is not changed.

FWIW, you don't need to use the reflect package to achieve that transformation above which simplifies it a lot:

[code]

And actually, you need to be careful not to iterate ove

[2016-04-29 08:33] ernestoalejo commented on #253
I knew there was something wrong in the code; thank you

[2016-04-29 11:05] okdave commented on #253
I have 2 changes out now to improve the docs, but I'd still like to add an example too to do the translation like you have above (and in the other direction too).

[2016-05-02 17:24] bradfitz commented on #156
The datastore docs don't document its struct tag at all. I see it in a couple examples, but it's never specified how it works.

[2016-05-02 18:34] okdave commented on #156
There's a CL pending https://code-review.googlesource.com/#/c/4654/

[2016-05-03 21:49] cnbuff410 commented on #247
Can we get a notification when it's supported? Just doesn't want to miss it out since it's not mentioned on the readme page.

[2016-05-04 20:41] willie commented on #223
Yes, once I figured out how to wrap my fake struct with datastore.PropertyLoadSaver. I appreciate the help, but I think better documentation on using Put/Get and PropertyLoadSaver would be helpful.

[2016-05-05 20:50] mbrevoort commented on #224
@okdave the standalone gcd emulator doesn't seem to support specifying a host to bind to which makes it tough to run inside of a container because it binds to `localhost` within the container and isn't accessible even with mapped ports 😞

[2016-05-09 02:38] blixt opened #254 "datastore.GetMulti fails with internal error if there are duplicate keys"
I have a case where I fetch a pair of users which in some cases may be the same user. Here's the code:

[code]

At this point, `err` will be:

[code]

I would expect this to put the same (or a copy of) `Identity` twice in the slice since there was a result. Currently I have to dedupe in my code instead.

[2016-05-09 03:32] blixt commented on #254
This is the workaround I landed on, let me know if there's a better way please. :)

[code]

[2016-05-09 15:17] garye commented on #211
This has been released: https://cloud.google.com/bigtable/docs/go/reference#Table.ApplyBulk

[2016-05-09 15:19] dhruv commented on #211
Thank you for the notification, Gary.
On May 9, 2016 8:17 AM, "Gary Elliott" <notifications@github.com> wrote:

[2016-05-09 21:21] #211 closed

[2016-05-10 01:05] lgarron commented on #224
I would also find it useful to have *some* easy way to spin up a datastore emulator locally from Go tests.

https://github.com/chromium/hstspreload.appspot.com doesn't have any test yet because I still haven't found a good way to do it.
I can't get [`gcloud beta emulators datastore`](https://cloud.google.com/datastore/docs/tools/datastore-emulator) to work, and the standalone `gcd` emulator is rea

[2016-05-10 15:17] mbrevoort commented on #224
It's not that you can't specify the port, it's that you can no longer specify the host/ip to bind to rather than "localhost". FWIW I solved my problem, running inside a Docker container, by also starting a TCP proxy that binds to the external interface: https://github.com/mbrevoort/gcd-docker/blob/master/start.sh

[2016-05-10 16:25] broady commented on #224
Actually, you can specify the host/port using the `DATASTORE_EMULATOR_HOST` environment variable.

https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/datastore/datastore.go#L63

[2016-05-10 20:23] jba opened #255 "logging: sketch of an updated package"
I'm planning on rewriting the existing Go client for the Stackdriver logging API. In addition to using the latest API version (v2beta1), I'd like to build the implementation on top of the Google API Code Generator library and expose more of the API's functionality.

The current Go client exports a Client type that includes connection and project information, as well as the log name. I'd like to br

[2016-05-10 20:37] selfcontained opened #256 "Can't set noindex on list properties"
With the latest version of the datastore library it doesn't seem possible to set `noindex` on a property that is in a slice.  For example, if I have the following Struct I'm saving:

[code]

I get an error when trying to save this:

[code]

I can remove that `noindex`, but now I can no longer save any value > 1500 characters, or I get the following:

[code]

Setting `noindex` on a list value used

[2016-05-10 22:13] bradfitz commented on #255
Stackdriver has a logging API too?

[2016-05-10 22:16] bradfitz commented on #255
Btw, we don't use the word "class" in Go. There are "types".

What is gax?

What's the difference between wrapping it and using it directly?

[2016-05-11 00:00] okdave commented on #224
I would like to make it easier to specify a local emulator (without resorting to env variables) through the options params. Something like `cloud.WithEmulator`?

I don't know what plans there are to make it easier to control the emulator from within Go itself. I definitely see the appeal of being able to bring up/down as many emulators as you like during a unit test. @pcostell might know what plan

[2016-05-11 00:06] pcostell commented on #224
The emulator has some support for control, in particular:

GET request to "/" --> returns 200 and content "Ok" once the emulator is serving.
POST request to "/reset" --> clears all entities from the datastore. This is only valid if you aren't storing data to disk.
POST request to "/shutdown" --> shuts down the emulator cleanly, writing to disk if necessary.

[2016-05-11 00:07] pcostell commented on #224
And regards to specifying the host, we'll support that in the next gcd release. (along with integration into gcloud).

[2016-05-11 00:51] yipjustin opened #257 "Failed to connect to gcloud emulators."
Hello,

I am trying to connect to gcloud emulator using `datastore.NewClient` for local development, I am flooded by the following errors.

[code]

I doubled checked that I have set the os.env `DATASTORE_EMULATOR_HOST` and `DATASTORE_PROJECT_ID`.

But the clients are created successfully when I connect with 1) the actual google cloud datastore and 2) the old standalone gcd emulator (http://storage

[2016-05-11 01:37] jba commented on #255
I believe that is the full name of the (one and only) logging API: https://cloud.google.com/logging.

Fixed.

A  [gRPC helper library](https://github.com/googleapis/gax-golang) used by the Google API Code Generator.

That was a bad choice of words. By using it directly I mean having the generated client library be the official preferred client for the API; not hand-writing any code at all. (You di

[2016-05-11 03:26] lgarron commented on #224
Unfortunately, Go tests are meant to be run concurrently, and I have a need to test the output of a function that returns the entire database. Simply clearing the database isn't enough to ensure deterministic test results; I need independent test servers.

I've spent the last two days writing an ugly workaround (using `CloudDatastore.jar` directly rather than the `gcd.sh` wrapper) similar to the o

[2016-05-11 03:45] derekperkins commented on #224
Is it too slow to just run your tests serially?

[2016-05-11 03:57] lgarron commented on #224
My impression is that sequential tests are an [antipattern](http://stackoverflow.com/questions/24375966/does-go-test-run-unit-tests-concurrently).

I also expect to add some end-to-end tests which take several seconds each (because they perform scans of live domains on the internet), and I run my tests as a pre-commit hook. It would be nice for those tests not to be inherently sequential.

If ther

[2016-05-11 03:59] lgarron commented on #224
In fact, the fact that I can spawn the servers in parallel is a by-product of how I structured my code. Setting up an emulator spawner in the first place took most of the work.